@charset "UTF-8";
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

img {
  display: block;
  max-width: 100%;
  object-fit: cover; }

input,
button,
textarea {
  font-family: "Lexend Deca", sans-serif !important;
  outline: none;
  line-height: 1; }
  input:hover,
  button:hover,
  textarea:hover {
    outline: none; }

button {
  cursor: pointer; }

@media (min-width: 1400px) {
  .container {
    max-width: 1371px; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Lexend Deca", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  color: #696969; }

.bg-light-gray {
  background-color: #f8f8f6; }

.text-pending {
  color: #e0a612 !important; }

.text-done {
  color: #098d26 !important; }

.text-destroy {
  color: #c85a5a !important; }

.head-title {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  color: #363636;
  margin-bottom: 21px;
  border-left: 3px solid #e0a612;
  padding-left: 10px; }

.slogan {
  font-weight: 300;
  font-size: 17px;
  line-height: 36px;
  color: #696969;
  margin-bottom: 28px; }

.see-more:hover a {
  color: #1c2a1e; }

.see-more:hover img {
  transform: translateX(5px); }

.see-more a {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  transition: all 0.2s linear; }

.see-more img {
  display: inline;
  padding-left: 11px;
  position: relative;
  top: -2px;
  transition: all 0.2s linear; }

.title-main {
  color: #000;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.05em;
  letter-spacing: -1.8px; }

.title-big {
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #000; }

@media screen and (max-width: 576px) {
  .title-big {
    font-size: 36px;
    line-height: 50px; } }

.pagination-wrapper {
  margin-top: 3px;
  padding-bottom: 150px; }
  .pagination-wrapper .pagination-inner {
    display: flex;
    justify-content: space-between; }
  .pagination-wrapper .pagi {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: -7px; }
    .pagination-wrapper .pagi-item {
      margin-left: 7px;
      text-align: center;
      cursor: pointer; }
      .pagination-wrapper .pagi-item a {
        color: #000;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        padding: 20px 26px;
        border-radius: 2px;
        display: block;
        background-color: #fff;
        transition: all 0.2s linear; }
      .pagination-wrapper .pagi-item:hover a, .pagination-wrapper .pagi-item.is-active a {
        background-color: #e0a612; }
    .pagination-wrapper .pagi-next {
      display: block;
      padding: 22px 110px;
      background-color: #fff;
      color: #000;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      border-radius: 2px;
      transition: all 0.2s linear; }
      .pagination-wrapper .pagi-next:hover {
        background-color: #e0a612; }
      .pagination-wrapper .pagi-next.is-disabled {
        background-color: #ddd;
        pointer-events: none; }

.pagination-short {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .pagination-short .num-of-page {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000; }

.pagination-prev, .pagination-next {
  width: 150px;
  height: 50px;
  line-height: 50px; }
  .pagination-prev img, .pagination-next img {
    display: inline-block; }
  .pagination-prev span, .pagination-next span {
    text-transform: uppercase;
    font-size: 13px;
    color: #000; }

.pagination-prev img {
  padding-right: 9px; }

.pagination-next img {
  padding-left: 9px; }

@media screen and (max-width: 576px) {
  .pagination-wrapper {
    padding-bottom: 50px; }
    .pagination-wrapper .pagination-inner {
      flex-wrap: wrap;
      justify-content: center; }
    .pagination-wrapper .pagi {
      margin-bottom: 10px; } }

.wp-breadcumb {
  padding-top: 13px; }
  .wp-breadcumb .breadcrumb {
    background-color: transparent; }
    .wp-breadcumb .breadcrumb-item a {
      color: #696969;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: -0.05em; }
    .wp-breadcumb .breadcrumb-item.active {
      color: #696969;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: -0.05em;
      color: #e0a612; }

.breadcrumb-item + .breadcrumb-item::before {
  color: #696969; }

.breadcrumb-item + .breadcrumb-item::before {
  height: 16px;
  line-height: 16px; }

.card-product {
  position: relative;
  height: 472px;
  padding: 20px;
  background-color: #fff; }
  .card-product-sale {
    position: absolute;
    background: #e0a612;
    border-radius: 2px;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 20px; }
  .card-product .thumbnail {
    display: flex;
    align-items: center;
    height: 345px;
    margin-bottom: 41px; }
  .card-product img {
    object-fit: cover;
    max-width: 100% !important;
    margin: 0 auto; }
  .card-product-info {
    display: flex;
    justify-content: space-between; }
  .card-product .name {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    word-break: break-word;
    transition: all 0.2s linear; }
    .card-product .name:hover {
      color: #e0a612; }
  .card-product .price {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #696969; }
  .card-product .product-icon {
    background: #f4f4f1;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px; }

.button-primary {
  background-color: #e0a612;
  transition: all 0.2s linear;
  border-radius: 2px;
  border: none;
  min-width: 150px;
  height: 55px;
  text-align: center; }
  .button-primary a {
    color: #000;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    padding: 10px;
    display: inline-block; }
  .button-primary:hover, .button-primary:focus {
    background-color: #c79515; }

.header-nav {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0; }

.header-nav-menu {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .header-nav-menu .icon-header-menu {
    margin-right: 9px !important; }
  .header-nav-menu span {
    font-size: 12px;
    line-height: 15px;
    color: #1c2a1e; }

.header-nav-wp {
  position: relative;
  margin: 0 100px; }

.header-nav-title {
  position: absolute;
  text-align: center;
  top: 280px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 875px;
  display: none; }
  .header-nav-title h1 {
    color: #fff;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0 0 38px; }

.header-nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-nav-logo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  width: 153px;
  height: 32px;
  cursor: pointer; }

.header .block-cart-wrapper {
  position: relative; }
  .header .block-cart-wrapper .num-cart {
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: #e0a612;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    display: block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px; }

.header-social {
  position: absolute;
  bottom: 50px;
  z-index: 2;
  left: 105px;
  display: none; }
  .header-social a {
    margin-right: 25px; }
    .header-social a i {
      font-size: 17px;
      color: #999999; }

.header .header-nav-home {
  border-bottom: 0;
  padding: 0;
  position: relative; }
  .header .header-nav-home .header-nav-title {
    display: block; }
  .header .header-nav-home .header-nav-logo {
    background-image: url("../img/logo-home.png");
    background-repeat: no-repeat;
    width: 153px;
    height: 68px;
    position: relative;
    left: 38px;
    top: 0; }
  .header .header-nav-home .header-nav-inner {
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    margin-top: 5px; }
  .header .header-nav-home .slide-header-home {
    display: block !important;
    position: relative; }
    .header .header-nav-home .slide-header-home::after {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
      opacity: 0.6;
      background: radial-gradient(142.4% 142.4% at 50% 64.38%, #000000 7.29%, #000000 100%); }
  .header .header-nav-home .icon-header-menu,
  .header .header-nav-home .header-block span {
    color: #fff; }
    .header .header-nav-home .icon-header-menu::after,
    .header .header-nav-home .header-block span::after {
      background-color: #fff; }
  .header .header-nav-home .header-block span.header-block-lang {
    line-height: 36px;
    font-size: 13px; }
  .header .header-nav-home .header-social {
    display: block; }
  .header .header-nav-home .header-nav-menu span {
    color: #fff; }

.header .slide-header-home {
  display: none !important; }

.slide-header-home {
  position: relative; }
  .slide-header-home img {
    height: 960px;
    object-fit: cover; }
  .slide-header-home .owl-dots {
    position: absolute;
    top: 50%;
    right: 55px;
    margin-top: 25px !important;
    transform: rotate(90deg) translateY(-50%);
    z-index: 1; }
    .slide-header-home .owl-dots .owl-dot {
      padding-right: 23px !important; }
      .slide-header-home .owl-dots .owl-dot:focus {
        outline: none; }
      .slide-header-home .owl-dots .owl-dot span {
        margin: 0px !important;
        width: 8px !important;
        height: 8px !important; }
    .slide-header-home .owl-dots .owl-dot.active span,
    .slide-header-home .owl-dots .owl-dot:hover span {
      position: relative;
      background-color: yellow !important; }
      .slide-header-home .owl-dots .owl-dot.active span::after,
      .slide-header-home .owl-dots .owl-dot:hover span::after {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        border-radius: 50%;
        background: transparent;
        border: 1px solid yellow;
        width: 16px !important;
        height: 16px !important; }

.wrapper.active-menu {
  overflow: hidden;
  height: 100vh; }
  .wrapper.active-menu .menu-respon .icon-header-menu,
  .wrapper.active-menu .menu-respon .header-block {
    color: #fff; }
    .wrapper.active-menu .menu-respon .icon-header-menu::after,
    .wrapper.active-menu .menu-respon .header-block::after {
      background-color: #fff; }
  .wrapper.active-menu .menu-respon i.header-block-cart {
    margin-right: 0; }
  .wrapper.active-menu .menu-respon .header-nav-inner {
    margin-bottom: 115px; }
  .wrapper.active-menu .menu-respon .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #235c47;
    font-size: 200px;
    line-height: 250px;
    opacity: 0.05;
    letter-spacing: 55px;
    pointer-events: none; }
  .wrapper.active-menu .menu-respon .image-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.menu-respon {
  width: 100%;
  height: 100vh;
  background-color: #1c2a1e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px 100px 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.2s linear; }
  .menu-respon.active {
    transform: translateX(0);
    opacity: 1; }
  .menu-respon .icon-header-menu,
  .menu-respon .header-block {
    color: #fff; }
    .menu-respon .icon-header-menu::after,
    .menu-respon .header-block::after {
      background-color: #fff; }
  .menu-respon i.header-block-cart {
    margin-right: 0; }
  .menu-respon .header-nav-inner {
    margin-bottom: 115px; }
  .menu-respon .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #235c47;
    font-size: 200px;
    line-height: 250px;
    opacity: 0.05;
    letter-spacing: 55px;
    pointer-events: none; }
  .menu-respon .image-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.menu-item {
  margin-bottom: 47px;
  padding-left: 3px; }

.menu-link {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 25px; }

.menu-item.active a, .menu-item:hover a {
  color: #e0a612; }

.menu-respon-search {
  margin: 70px 0 0 5px;
  max-width: 200px;
  position: relative;
  padding-bottom: 8px; }
  .menu-respon-search::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0.1; }
  .menu-respon-search input {
    border: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    background: #1c2a1e;
    color: #fff;
    position: relative;
    max-width: 175px; }
    .menu-respon-search input::placeholder {
      color: #fff;
      opacity: 0.5; }
  .menu-respon-search button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 2px;
    right: 6px; }
    .menu-respon-search button i {
      font-size: 15px;
      color: #f4f4f1; }

.menu-respon-info {
  margin: 0 80px 0 35px; }
  .menu-respon-info .title {
    font-size: 20px;
    line-height: 25px;
    color: #fff; }
  .menu-respon-info .location {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.7;
    margin: 22px 0 7px; }
  .menu-respon-info .tel,
  .menu-respon-info .mail {
    display: block;
    font-size: 12px;
    line-height: 30px;
    color: #ffffff;
    opacity: 0.7; }
  .menu-respon-info .social {
    margin: 25px 0 55px; }
    .menu-respon-info .social a {
      display: inline-block;
      margin-right: 25px; }
      .menu-respon-info .social a i {
        color: #fff;
        opacity: 0.5; }
  .menu-respon-info .lang-title {
    font-size: 15px;
    line-height: 19px;
    color: #ffffff;
    margin-bottom: 15px; }
  .menu-respon-info .lang span {
    width: 40px !important;
    height: 40px !important;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: #c4c4c4; }
    .menu-respon-info .lang span::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      opacity: 0.05;
      border-radius: 2px; }
    .menu-respon-info .lang span:first-of-type {
      margin-right: 15px; }
  .menu-respon-info .lang span.active {
    color: #e0a612; }

.header-cart-block {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  background: #fff;
  padding: 25px;
  height: 100vh;
  width: 450px;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.2s linear; }
  .header-cart-block.active {
    opacity: 1;
    transform: translateX(0%); }
  .header-cart-block .header-cart .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 3px;
    padding-bottom: 23px;
    padding-top: 11px; }
    .header-cart-block .header-cart .title p {
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 0;
      color: #000; }
    .header-cart-block .header-cart .title .header-cart-img {
      width: 18px;
      height: 18px;
      cursor: pointer; }
  .header-cart-block .header-cart .order-item {
    padding: 18px 0;
    border-bottom: 1px solid #e5e5e5; }
    .header-cart-block .header-cart .order-item:last-child {
      padding-bottom: 16px; }
  .header-cart-block .header-cart .policy-cart {
    margin-top: 15px;
    margin-bottom: 25px; }
    .header-cart-block .header-cart .policy-cart input {
      margin-right: 0;
      width: 18px;
      height: 18px; }
    .header-cart-block .header-cart .policy-cart label {
      padding-left: 15px;
      font-weight: 300;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: -0.05em;
      color: #363636; }
  .header-cart-block .header-cart .price-temp {
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.05em;
    color: #363636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e5e5; }
  .header-cart-block .header-cart .price-pay {
    background-color: #000;
    text-align: center;
    height: 50px;
    margin-top: 33px;
    cursor: pointer; }
    .header-cart-block .header-cart .price-pay a {
      width: 100%;
      height: 100%;
      display: block;
      font-size: 13px;
      text-transform: uppercase;
      color: #fff;
      line-height: 50px; }
  .header-cart-block .header-cart .quantity-input {
    display: inline-flex;
    background-color: #f4f4f1;
    border-radius: 2px;
    font-size: 16px;
    height: 30px;
    margin-top: 11px; }
    .header-cart-block .header-cart .quantity-input > * {
      display: flex;
      justify-content: center;
      align-items: center; }
    .header-cart-block .header-cart .quantity-input .minus {
      padding: 5px 10px; }
    .header-cart-block .header-cart .quantity-input .add {
      padding: 12px 10px 10px 5px; }
    .header-cart-block .header-cart .quantity-input .add,
    .header-cart-block .header-cart .quantity-input .minus {
      cursor: pointer; }
      .header-cart-block .header-cart .quantity-input .add i,
      .header-cart-block .header-cart .quantity-input .minus i {
        color: #696969; }
    .header-cart-block .header-cart .quantity-input .number {
      width: 25px;
      line-height: 30px;
      background-color: inherit;
      border: 0;
      font-weight: 300;
      outline: none;
      font-size: inherit;
      color: #000;
      text-align: center; }
    .header-cart-block .header-cart .quantity-input input[type="number"]::-webkit-inner-spin-button,
    .header-cart-block .header-cart .quantity-input input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }

.header-user-block {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  background: #fff;
  padding: 25px;
  height: 100vh;
  width: 450px;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.2s linear; }
  .header-user-block.active {
    transform: translateX(0%);
    opacity: 1; }
  .header-user-block .header-user .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 23px 10px; }
    .header-user-block .header-user .title p {
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 0;
      color: #000; }
    .header-user-block .header-user .title .header-user-img {
      width: 18px;
      height: 18px;
      cursor: pointer; }
  .header-user-block .header-user .title.title-not-login {
    padding: 11px 0 15px 0px; }
  .header-user-block .account-not-login p {
    padding-bottom: 16px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #363636; }
  .header-user-block .account-not-login .header-auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .header-user-block .account-not-login .header-auth-register img {
      display: inline; }
    .header-user-block .account-not-login .header-auth-register a {
      font-size: 13px;
      line-height: 16px;
      text-decoration-line: underline;
      color: #363636;
      text-transform: uppercase;
      transition: all 0.2s linear; }
      .header-user-block .account-not-login .header-auth-register a:hover {
        color: #e0a612; }
    .header-user-block .account-not-login .header-auth-login a {
      width: 190px;
      height: 50px;
      display: block;
      background: #000;
      color: #fff;
      text-align: center;
      line-height: 50px;
      font-size: 13px;
      text-transform: uppercase;
      border-radius: 2px;
      transition: all 0.2s linear; }
      .header-user-block .account-not-login .header-auth-login a:hover {
        background: #363636; }
  .header-user-block .account-login img {
    display: inline-block;
    padding-right: 20px; }
  .header-user-block .account-login a {
    display: block;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #363636;
    padding: 20px 15px;
    transition: all 0.2s linear; }
    .header-user-block .account-login a:hover {
      color: #000; }

.overlay-menu {
  position: fixed;
  background: #000;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100vh;
  transition: all 0.2s linear; }
  .overlay-menu.active {
    opacity: 0.2;
    transform: translateX(0);
    transition: all 0.2s linear; }

@media screen and (max-width: 992px) {
  .header-nav-title {
    width: 575px; }
    .header-nav-title h1 {
      font-size: 50px; } }

@media screen and (max-width: 768px) {
  .header-cart-block,
  .header-user-block {
    width: 400px; }
  .menu-respon-info {
    margin: 0; }
  .slide-header-home img {
    height: 760px;
    object-fit: cover; }
  .slide-header-home .owl-dots {
    right: 0; } }

@media screen and (max-width: 576px) {
  .header-nav-title {
    width: 65%;
    top: 160px; }
    .header-nav-title h1 {
      font-size: 30px;
      letter-spacing: 0;
      line-height: 45px; }
  .header-nav-wp {
    margin: 0 5px; }
  .header .icon-header-menu {
    margin-right: 10px; }
    .header .icon-header-menu:nth-child(2) {
      margin-right: 0px; }
  .header-user-block .account-not-login p {
    margin-bottom: 20px; }
  .header-user-block .account-not-login .header-auth {
    justify-content: center; }
    .header-user-block .account-not-login .header-auth-login a {
      width: 135px;
      height: 40px;
      line-height: 40px;
      margin-top: 10px; }
    .header-user-block .account-not-login .header-auth-register {
      width: 100%;
      text-align: center; }
  .header .header-nav-home .header-nav-logo {
    left: unset; }
  .slide-header-home img {
    height: 700px;
    object-fit: cover; }
  .slide-header-home .owl-dots {
    right: 0; }
  .header-cart-block,
  .header-user-block {
    width: 300px;
    padding: 0 10px; }
  .header-cart-block .header-cart .title {
    padding-bottom: 10px; }
  .header-cart-block .menu-respon {
    padding: 20px 15px; }
  .menu-respon {
    padding: 20px 15px; } }

.header-nav .icon-display-home {
  display: none; }

.header-nav .icon-display-page {
  display: block; }

.header-nav-inner {
  top: 0;
  width: 100%;
  margin-top: 5px; }
  .header-nav-inner .header-nav-bar,
  .header-nav-inner .header-block-item {
    background: RGBA(28, 42, 30, 0.04);
    border-radius: 2px;
    position: relative;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header-nav-inner .header-nav-bar .num-cart,
    .header-nav-inner .header-block-item .num-cart {
      position: absolute;
      width: 16px !important;
      height: 16px !important;
      background: #e0a612;
      border-radius: 10px;
      font-size: 12px;
      line-height: 16px;
      color: #fff;
      top: 3px;
      right: 3px;
      text-align: center;
      font-weight: 400; }
    .header-nav-inner .header-nav-bar:not(:last-child),
    .header-nav-inner .header-block-item:not(:last-child) {
      margin-right: 20px; }
    .header-nav-inner .header-nav-bar.header-block-lang:hover .list-lang,
    .header-nav-inner .header-block-item.header-block-lang:hover .list-lang {
      opacity: 1; }
    .header-nav-inner .header-nav-bar.header-block-lang span,
    .header-nav-inner .header-block-item.header-block-lang span {
      color: #1c2a1e; }
    .header-nav-inner .header-nav-bar .list-lang,
    .header-nav-inner .header-block-item .list-lang {
      background: #f4f4f1;
      top: 45px;
      position: absolute;
      text-align: center;
      height: 80px;
      opacity: 0;
      transition: all 0.2s linear; }
      .header-nav-inner .header-nav-bar .list-lang span,
      .header-nav-inner .header-block-item .list-lang span {
        cursor: pointer;
        color: #1c2a1e;
        width: 40px !important;
        height: 40px !important;
        display: block;
        line-height: 40px;
        font-weight: 600;
        font-size: 13px; }
        .header-nav-inner .header-nav-bar .list-lang span.active, .header-nav-inner .header-nav-bar .list-lang span:hover,
        .header-nav-inner .header-block-item .list-lang span.active,
        .header-nav-inner .header-block-item .list-lang span:hover {
          color: #e0a612; }
  .header-nav-inner .header-block {
    display: flex;
    align-items: center; }

.header-nav.header-nav-home .icon-display-home {
  display: block; }

.header-nav.header-nav-home .icon-display-page {
  display: none; }

.header-nav.header-nav-home .header-nav-inner {
  top: 0;
  width: 100%;
  margin-top: 5px; }
  .header-nav.header-nav-home .header-nav-inner .header-nav-bar,
  .header-nav.header-nav-home .header-nav-inner .header-block-item {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 2px;
    position: relative;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header-nav.header-nav-home .header-nav-inner .header-nav-bar .num-cart,
    .header-nav.header-nav-home .header-nav-inner .header-block-item .num-cart {
      position: absolute;
      width: 16px !important;
      height: 16px !important;
      background: #e0a612;
      border-radius: 10px;
      font-size: 12px;
      line-height: 16px;
      color: #fff;
      top: 3px;
      right: 3px;
      text-align: center;
      font-weight: 400; }
    .header-nav.header-nav-home .header-nav-inner .header-nav-bar:not(:last-child),
    .header-nav.header-nav-home .header-nav-inner .header-block-item:not(:last-child) {
      margin-right: 20px; }
    .header-nav.header-nav-home .header-nav-inner .header-nav-bar.header-block-lang:hover .list-lang,
    .header-nav.header-nav-home .header-nav-inner .header-block-item.header-block-lang:hover .list-lang {
      opacity: 1; }
    .header-nav.header-nav-home .header-nav-inner .header-nav-bar.header-block-lang span,
    .header-nav.header-nav-home .header-nav-inner .header-block-item.header-block-lang span {
      color: #fff; }
    .header-nav.header-nav-home .header-nav-inner .header-nav-bar .list-lang,
    .header-nav.header-nav-home .header-nav-inner .header-block-item .list-lang {
      background-color: #423732ab;
      top: 45px;
      position: absolute;
      text-align: center;
      height: 80px;
      opacity: 0;
      transition: all 0.2s linear; }
      .header-nav.header-nav-home .header-nav-inner .header-nav-bar .list-lang span,
      .header-nav.header-nav-home .header-nav-inner .header-block-item .list-lang span {
        cursor: pointer;
        color: #fff;
        width: 40px !important;
        height: 40px !important;
        display: block;
        line-height: 40px;
        font-weight: 600;
        font-size: 13px; }
        .header-nav.header-nav-home .header-nav-inner .header-nav-bar .list-lang span.active, .header-nav.header-nav-home .header-nav-inner .header-nav-bar .list-lang span:hover,
        .header-nav.header-nav-home .header-nav-inner .header-block-item .list-lang span.active,
        .header-nav.header-nav-home .header-nav-inner .header-block-item .list-lang span:hover {
          color: #e0a612; }
  .header-nav.header-nav-home .header-nav-inner .header-block {
    display: flex;
    align-items: center; }

.menu-respon.active .header-nav-inner {
  position: static; }

.menu-respon.active .header-nav-menu span {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 8px; }

.menu-respon.active .header-nav-menu-thumb,
.menu-respon.active .header-nav-menu .header-block-item {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 2px;
  position: relative;
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu-respon.active .header-nav-menu-thumb .num-cart,
  .menu-respon.active .header-nav-menu .header-block-item .num-cart {
    position: absolute;
    width: 16px !important;
    height: 16px !important;
    background: #e0a612;
    border-radius: 10px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    top: 3px;
    right: 3px;
    text-align: center;
    font-weight: 400; }

.menu-respon.active .header-block .header-block-item {
  background-color: rgba(255, 255, 255, 0.05); }

.footer {
  padding: 99px 0 90px;
  background-color: #1c2a1e; }
  .footer-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0; }
  .footer-list ul {
    margin-top: 19px;
    margin-bottom: 0; }
    .footer-list ul a {
      font-size: 12px;
      line-height: 30px;
      text-transform: uppercase;
      color: #fff;
      opacity: 0.7;
      font-weight: 300; }
      .footer-list ul a:hover {
        opacity: 1; }
  .footer-list.footer-cate {
    margin-top: 7px;
    margin-left: 5px; }
  .footer-list.footer-info {
    margin: 10px 0 0 12px; }
    .footer-list.footer-info ul {
      margin-top: 17px; }
  .footer-list .see-more {
    margin-top: 4px; }
    .footer-list .see-more a {
      color: #fff;
      font-size: 13px; }
      .footer-list .see-more a img {
        padding-left: 8px; }
  .footer-contact {
    margin-top: 7px;
    margin-left: 17px; }
    .footer-contact .location {
      color: #fff;
      opacity: 0.7;
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase;
      margin: 21px 0 7px;
      font-weight: 300; }
    .footer-contact .tel,
    .footer-contact .email {
      margin-bottom: 0; }
      .footer-contact .tel a,
      .footer-contact .email a {
        color: #fff;
        opacity: 0.7;
        font-size: 12px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 300; }
        .footer-contact .tel a:hover,
        .footer-contact .email a:hover {
          opacity: 1; }
  .footer-social {
    padding-left: 4px;
    position: relative;
    top: 7px; }
    .footer-social a {
      padding-right: 22px; }
      .footer-social a i {
        color: #f4f4f1; }
  .footer-copyright {
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    color: #c4c4c4;
    margin: 15px 0 0; }
  .footer-social-wrapper {
    display: flex;
    position: absolute;
    bottom: -70px; }
  .footer-social-item {
    width: 40px !important;
    height: 40px !important;
    background: #e0a612;
    border-radius: 2px;
    margin-right: 13px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer-social-item:last-child {
      margin-right: 0; }

@media screen and (max-width: 576px) {
  .footer {
    padding: 50px 0 30px; }
    .footer-list.footer-cate {
      margin-left: 0px; }
    .footer-list.footer-info {
      margin: 30px 0 0 0; }
    .footer-contact {
      margin-top: 20px;
      margin-left: 0px; }
    .footer-social-wrapper {
      position: static;
      margin-top: 20px; } }

.intro {
  padding: 150px 0;
  background-image: url(" ./../img/bg-intro.png");
  background-repeat: no-repeat;
  background-position: 100% -160%; }
  .intro-media {
    display: flex;
    align-items: center; }
  .intro-media-left {
    margin-right: 25px; }
    .intro-media-left img {
      margin-left: auto; }
    .intro-media-left img:first-child {
      margin-bottom: 29px;
      display: block; }
  .intro-media-right {
    position: relative; }
    .intro-media-right .story-our {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px;
      width: 100%; }
      .intro-media-right .story-our-test {
        color: #fff;
        width: 110px; }
        .intro-media-right .story-our-test span {
          font-family: "Sacramento", cursive;
          font-size: 24px;
          line-height: 35px;
          letter-spacing: -0.05em; }
        .intro-media-right .story-our-test p {
          font-weight: 600;
          font-size: 17px;
          line-height: 21px;
          letter-spacing: -0.05em;
          margin-bottom: 0; }
    .intro-media-right::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 29, 18, 0) 19.81%, #000000 68.18%);
      opacity: 0.9;
      border-radius: 5px;
      width: 100%;
      height: 100%; }
  .intro-text {
    margin-top: 150px;
    margin-left: 72px; }
    .intro-text .slogan {
      padding-right: 50px; }
  .intro-overlay {
    position: absolute;
    top: 0;
    right: 0; }

.featured-product {
  position: relative;
  background-color: #f4f4f1;
  padding: 150px 59px 150px 290px; }
  .featured-product-inner {
    display: flex;
    justify-content: space-between; }
  .featured-product-text {
    width: 445px; }
    .featured-product-text .title-main {
      position: relative;
      z-index: 1; }
      .featured-product-text .title-main::after {
        content: "";
        position: absolute;
        bottom: 0px;
        right: 35px;
        z-index: -1;
        width: 127px;
        height: 15px;
        background-color: #e0a612; }
    .featured-product-text .intro-text {
      margin-top: 80px;
      margin-left: 0; }
    .featured-product-text .slogan {
      padding-right: 0;
      margin-bottom: 25px; }
  .featured-product-slider {
    width: 1000px !important; }
    .featured-product-slider .owl-nav {
      position: absolute;
      top: 38%;
      width: 100%;
      transform: translateY(-50%);
      margin: 0; }
      .featured-product-slider .owl-nav .owl-prev {
        left: -30px; }
      .featured-product-slider .owl-nav .owl-next {
        right: -30px; }
      .featured-product-slider .owl-nav .owl-prev,
      .featured-product-slider .owl-nav .owl-next {
        position: absolute;
        background: #fff !important;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        width: 50px !important;
        height: 50px !important;
        border-radius: 50% !important;
        color: #230b34 !important; }
        .featured-product-slider .owl-nav .owl-prev:focus,
        .featured-product-slider .owl-nav .owl-next:focus {
          outline: none; }
        .featured-product-slider .owl-nav .owl-prev:hover,
        .featured-product-slider .owl-nav .owl-next:hover {
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05) !important; }
        .featured-product-slider .owl-nav .owl-prev img,
        .featured-product-slider .owl-nav .owl-next img {
          margin: 0 auto; }
    .featured-product-slider .owl-dots {
      display: block !important;
      margin-top: 0 !important;
      position: relative;
      top: -20px; }
      .featured-product-slider .owl-dots .owl-dot:focus {
        outline: none; }
      .featured-product-slider .owl-dots .owl-dot.active span, .featured-product-slider .owl-dots .owl-dot:hover span {
        background-color: #1c2a1e !important; }
      .featured-product-slider .owl-dots .owl-dot span {
        width: 8px !important;
        height: 8px !important; }
  .featured-product-overlay {
    position: absolute;
    top: 70px; }
    @media screen and (max-width: 1400px) {
      .featured-product-overlay {
        width: 80%; } }

.owl-carousel.featured-product-slider .owl-item img {
  width: unset !important; }

.owl-theme .owl-nav {
  margin: 0 !important; }

.care-product {
  padding: 150px 0; }

.care-product-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px; }
  .care-product-text .head-title {
    margin-bottom: 15px; }
  .care-product-text .title-main {
    margin-bottom: 0px; }

.care-list {
  display: flex;
  justify-content: space-between; }

.care-item {
  position: relative;
  width: calc(33.33% - 32.6px); }
  .care-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 27.54%, #000000 100%);
    border-radius: 5px; }

.care-item-desc {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 17px 21px; }
  .care-item-desc h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.05em;
    color: #fff;
    margin-bottom: 0; }

.care-item-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover; }

.care-item-detail {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  top: -5px; }
  .care-item-detail img {
    margin: 0 auto; }
  .care-item-detail::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e0a612;
    opacity: 0.21;
    border-radius: 50%; }

.register {
  background: #f4f4f1;
  padding: 98px 0 100px;
  text-align: center;
  position: relative; }
  .register-text .title-main {
    margin-bottom: 12px; }
  .register-text .slogan {
    line-height: 30px;
    padding-right: 0;
    font-weight: 300;
    margin-bottom: 37px; }
  .register-form input {
    background: #ffffff;
    border-radius: 2px;
    width: 480px;
    height: 50px;
    border: 0;
    color: #363636;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    padding: 10px 18px; }
    .register-form input::placeholder {
      color: #c4c4c4; }
  .register-form button {
    display: block;
    margin: 20px auto 0; }
  .register .register-overlay-left,
  .register .register-overlay-right {
    position: absolute;
    bottom: 0; }
  .register .register-overlay-left {
    left: 0; }
  .register .register-overlay-right {
    right: 0; }

.knowledge {
  padding: 151px 0 150px; }
  .knowledge-list {
    display: flex;
    justify-content: space-between; }
  .knowledge-item {
    width: calc(25% - 38.25px);
    height: 350px;
    position: relative; }
    .knowledge-item::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.25%, #000000 94.57%);
      border-radius: 5px; }
    .knowledge-item:hover .see-more {
      opacity: 1; }
      .knowledge-item:hover .see-more a {
        color: #fff; }
    .knowledge-item:hover .knowledge-item-desc {
      transform: translateY(-8px); }
    .knowledge-item:hover::before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 4.17%, #000000 94.57%); }
    .knowledge-item-thumbnail {
      object-fit: cover; }
  .knowledge-item-desc {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    padding: 0 20px 20px;
    transition: all 0.2s linear;
    transform: translateY(37px); }
  .knowledge-time {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 3px solid #e0a612; }
  .knowledge-title {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    word-break: break-word; }
    .knowledge-title .head-title {
      margin-bottom: 10px; }
  .knowledge .see-more {
    margin-top: 12px;
    transition: all 0.2s linear;
    opacity: 0; }
    .knowledge .see-more img {
      padding-left: 5px; }

@media screen and (max-width: 1800px) {
  .featured-product {
    padding-left: 150px; } }

@media screen and (max-width: 1500px) {
  .featured-product {
    padding-left: 80px; }
    .featured-product-slider {
      width: 700px !important; } }

@media screen and (max-width: 1200px) {
  .featured-product-inner {
    flex-wrap: wrap; }
    .featured-product-inner-text {
      width: 100%; }
      .featured-product-inner-text .intro-text {
        margin: 30px 0; }
    .featured-product-inner-slider {
      width: 100% !important; }
  .knowledge {
    padding: 151px 0 150px; }
    .knowledge-list {
      flex-wrap: wrap; }
    .knowledge-item {
      width: calc(25% - 10px);
      height: 320px; } }

@media screen and (max-width: 992px) {
  .intro {
    padding: 100px 0; }
    .intro-media-left {
      margin-right: 15px; }
      .intro-media-left img {
        margin-left: auto; }
    .intro-text {
      margin-top: 0px;
      margin-left: 0px; }
      .intro-text .slogan {
        padding-right: 0px; }
    .intro-overlay {
      position: absolute;
      top: 0;
      right: 0; }
  .knowledge {
    padding: 100px 0 100px; }
    .knowledge-item {
      width: calc(50% - 20px);
      height: 320px;
      margin-bottom: 30px; }
      .knowledge-item-thumbnail {
        height: 100%;
        width: 100%; } }

@media screen and (max-width: 768px) {
  .care-product {
    padding: 100px 0; }
  .care-list {
    flex-wrap: wrap; }
  .care-item {
    width: calc(33.33% - 10px); }
  .register {
    z-index: 1; }
    .register-form {
      position: relative;
      z-index: 3; }
    .register .register-overlay-left,
    .register .register-overlay-right {
      z-index: 2; }
  .featured-product-text .title-main::after {
    left: 100px; } }

@media screen and (max-width: 576px) {
  .register-form input {
    width: 100%; }
  .featured-product {
    padding: 30px 30px 40px; }
  .care-item {
    width: calc(100%);
    height: 240px;
    margin-bottom: 20px; }
  .knowledge {
    padding: 50px 0; }
    .knowledge-item {
      width: calc(50% - 10px);
      height: 300px; }
  .intro {
    padding: 100px 0; }
    .intro-text {
      margin-top: 50px; }
  .featured-product {
    padding: 0 15px 50px; }
    .featured-product-slider {
      width: 100% !important; }
      .featured-product-slider .owl-nav .owl-prev {
        left: 0px; }
      .featured-product-slider .owl-nav .owl-next {
        right: 0px; }
    .featured-product-overlay {
      width: 100%;
      display: none; } }

.fade-loading {
  border-radius: 50%;
  position: relative; }

.fade-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 5px solid #e0a61285;
  animation: fade 1s forwards infinite linear; }

@keyframes fade {
  to {
    transform: scale(1.6);
    opacity: 0; } }

.wp-product-cate {
  background-color: #f8f8f6; }

.breadcumb-product-cate {
  margin-bottom: 33px; }

.product-cate-head {
  margin-bottom: 46px; }
  .product-cate-head .title-big {
    margin-bottom: 6px;
    margin-top: 43px; }
  .product-cate-head .slogan {
    margin-bottom: 0;
    text-align: center; }

.filter-product {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px; }

.filter-option {
  display: flex; }

.filter-option-item {
  border-left: 1px solid #e5e5e5;
  margin-bottom: 0;
  padding: 21px 20px 23px; }
  .filter-option-item select {
    height: auto;
    padding: 0;
    background-color: transparent;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #363636;
    border: none; }
    .filter-option-item select:focus {
      box-shadow: none;
      background-color: transparent; }
    .filter-option-item select i {
      padding-left: 15px; }
  .filter-option-item:last-child {
    text-align: center; }
  .filter-option-item:first-child {
    padding: 19px 20px 18px 20px; }
  .filter-option-item img {
    display: inline-block; }
  .filter-option-item .btn-filter {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #363636;
    padding-left: 10px;
    border: none;
    background: transparent; }
    .filter-option-item .btn-filter:hover, .filter-option-item .btn-filter:focus {
      color: #e0a612;
      transition: all 0.2s linear;
      outline: none; }

.product-list-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.product-list .card-product {
  width: calc(25% - 35.25px);
  margin-bottom: 47px; }

@media screen and (max-width: 992px) {
  .product-list .card-product {
    width: calc(50% - 20px);
    margin-bottom: 47px; } }

@media screen and (max-width: 576px) {
  .product-list .card-product {
    width: calc(50% - 10px);
    margin-bottom: 20px; } }

.product-detail {
  margin-top: 98px;
  margin-bottom: 142px; }
  .product-detail ul {
    margin-bottom: 0;
    list-style: square;
    padding-left: 5px;
    margin-left: 10px; }
    .product-detail ul li {
      font-weight: 300;
      font-size: 15px;
      line-height: 36px;
      font-weight: 300; }
      .product-detail ul li a,
      .product-detail ul li a:hover {
        color: #e0a612;
        text-decoration: underline; }
    .product-detail ul.product-desc-first {
      margin-top: -9px; }
  .product-detail .slide-wrapper {
    margin-left: 40px;
    margin-top: -30px; }

.product-content-info {
  margin-right: 35px; }
  .product-content-info .card-product-sale {
    position: relative; }
  .product-content-info .title-big {
    margin: 8px 0 15px 0px;
    text-align: left; }
  .product-content-info .product-price {
    text-align: left;
    display: block;
    height: auto; }
    .product-content-info .product-price span {
      display: inline-block;
      color: #696969;
      font-weight: 300;
      letter-spacing: -0.05em;
      margin-bottom: 0; }
    .product-content-info .product-price-current {
      font-size: 18px;
      line-height: 22px; }
    .product-content-info .product-price-old {
      font-size: 14px;
      line-height: 17px;
      text-decoration-line: line-through;
      padding-left: 16px; }
  .product-content-info .product-quantity .product-title {
    margin-bottom: 3px; }
  .product-content-info .product-quantity .quantity-input {
    display: inline-flex;
    background-color: #f4f4f1;
    border-radius: 2px;
    font-size: 16px;
    height: 45px; }
    .product-content-info .product-quantity .quantity-input > * {
      display: flex;
      justify-content: center;
      align-items: center; }
    .product-content-info .product-quantity .quantity-input .minus {
      padding: 15px 12px; }
    .product-content-info .product-quantity .quantity-input .add {
      padding: 12px 10px 15px 5px; }
    .product-content-info .product-quantity .quantity-input .add,
    .product-content-info .product-quantity .quantity-input .minus {
      cursor: pointer; }
      .product-content-info .product-quantity .quantity-input .add i,
      .product-content-info .product-quantity .quantity-input .minus i {
        color: #696969; }
    .product-content-info .product-quantity .quantity-input .number {
      width: 50px;
      background-color: inherit;
      line-height: 45px;
      border: 0;
      font-weight: 300;
      outline: none;
      font-size: inherit;
      color: #000;
      text-align: center; }
    .product-content-info .product-quantity .quantity-input input[type="number"]::-webkit-inner-spin-button,
    .product-content-info .product-quantity .quantity-input input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  .product-content-info .product-weight .product-title {
    margin-top: 10px; }
  .product-content-info .product-weight span {
    min-width: 60px;
    height: 45px;
    line-height: 42px;
    background: #f4f4f1;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    padding: 2px;
    font-weight: 300;
    font-size: 15px;
    color: #000;
    margin-right: 7px;
    transition: all 0.2s linear;
    cursor: pointer; }
    .product-content-info .product-weight span.active, .product-content-info .product-weight span:hover {
      background-color: #e0a612; }
    .product-content-info .product-weight span:last-child {
      margin-right: 0; }
  .product-content-info .product-cart {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    padding-bottom: 33px;
    margin-bottom: 8px;
    border-bottom: 2px solid #e5e5e5; }
    .product-content-info .product-cart a {
      display: block;
      width: calc(50% - 10px);
      font-size: 14px;
      line-height: 48px;
      height: 50px;
      text-transform: uppercase;
      border-radius: 2px;
      text-align: center; }
    .product-content-info .product-cart-order {
      background: #000;
      color: #fff; }
    .product-content-info .product-cart-add {
      background: #fff;
      border: 2px solid #000;
      color: #000; }
      .product-content-info .product-cart-add img {
        display: inline-block;
        padding-right: 12px; }

.product-title {
  font-size: 14px;
  line-height: 36px;
  color: #000;
  margin-top: 8px;
  margin-bottom: 0; }

.slide-product-detail img {
  width: auto !important; }

.slide-product-detail .owl-item {
  background: #f4f4f1; }
  .slide-product-detail .owl-item .item {
    border-radius: 5px;
    width: 619px !important;
    height: 619px !important;
    display: flex;
    align-items: center;
    justify-content: center; }

.slide-product-detail .owl-nav {
  position: absolute;
  top: 47%;
  width: 100%;
  transform: translateY(-50%);
  margin: 0; }
  .slide-product-detail .owl-nav .owl-prev {
    left: 26px; }
  .slide-product-detail .owl-nav .owl-next {
    right: 26px; }
  .slide-product-detail .owl-nav .owl-prev,
  .slide-product-detail .owl-nav .owl-next {
    position: absolute;
    margin: 0 !important; }
    .slide-product-detail .owl-nav .owl-prev:focus,
    .slide-product-detail .owl-nav .owl-next:focus {
      outline: none; }
    .slide-product-detail .owl-nav .owl-prev img,
    .slide-product-detail .owl-nav .owl-next img {
      margin: 0 auto; }
  .slide-product-detail .owl-nav button {
    background-color: transparent !important; }

.product-content-detail .product-desc-item {
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 8px;
  margin-bottom: 8px; }

.product-content-detail .card-title {
  font-size: 13px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
  background: transparent;
  margin-bottom: 10px;
  border: none;
  outline: none;
  width: 100%; }

.product-content-detail img {
  position: absolute;
  top: 42%;
  right: 33px;
  z-index: -1;
  transform: translateY(-50%); }

.product-content-detail .product-desc-content {
  font-size: 15px;
  line-height: 36px;
  color: #363636;
  font-weight: 300; }
  .product-content-detail .product-desc-content .product-desc-title {
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px; }
    .product-content-detail .product-desc-content .product-desc-title .product-title {
      font-size: 14px;
      line-height: 36px;
      color: #000; }

.product-relative {
  position: relative;
  padding: 107px 0 53px; }
  .product-relative::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f4f4f1;
    opacity: 0.7;
    z-index: -1; }
  .product-relative-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 55px; }
    .product-relative-title h4 {
      font-size: 36px;
      line-height: 36px;
      color: #000; }
  .product-relative-list {
    display: flex;
    justify-content: space-between; }
  .product-relative-item {
    width: calc(25% - 35.25px);
    height: 350px; }

@media screen and (max-width: 992px) {
  .product-detail {
    margin-top: 50px;
    margin-bottom: 50px; }
    .product-detail .slide-wrapper {
      margin-left: 0px; }
  .product-relative .product-list-inner {
    flex-wrap: wrap; }
    .product-relative .product-list-inner .card-product {
      width: calc(25% - 10px); } }

@media screen and (max-width: 576px) {
  .product-relative .product-list-inner {
    flex-wrap: wrap; }
    .product-relative .product-list-inner .card-product {
      width: calc(50% - 10px); }
  .slide-product-detail img {
    width: auto !important; }
  .slide-product-detail .owl-item {
    background: #f4f4f1; }
    .slide-product-detail .owl-item .item {
      width: 100% !important; } }

.account-wrapper {
  margin-top: 114px;
  margin-bottom: 100px; }

.account-title {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 10px; }

.account-title-global {
  position: relative; }
  .account-title-global .account-id {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    font-size: 15px;
    line-height: 19px;
    color: #696969; }

.account-info-list .nav-link {
  color: #363636;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  padding: 20px 0; }
  @media screen and (max-width: 1400px) {
    .account-info-list .nav-link {
      font-size: 14px; } }
  .account-info-list .nav-link img {
    display: inline-block;
    padding: 0 13px; }

.account-info-list .nav-link.active {
  background-color: transparent;
  color: #363636;
  position: relative; }
  .account-info-list .nav-link.active img {
    padding: 0 20px 0 13px; }
  .account-info-list .nav-link.active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 30px;
    width: 2px;
    background-color: #e0a612;
    transform: translateY(-50%); }

.account-content {
  margin-left: 77px; }
  .account-content .account-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5; }
  .account-content-inner {
    margin-top: 33px; }

.field-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 59px; }
  .field-info:last-child {
    margin-bottom: 0; }
  .field-info-value {
    width: 600px; }
    .field-info-value label {
      display: block;
      font-size: 17px;
      line-height: 30px;
      color: #000;
      margin-bottom: 0; }
    .field-info-value input {
      border: 1px solid #c4c4c4;
      border-radius: 2px;
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      color: #363636;
      padding: 9px 16px 11px;
      width: 100%; }
      @media screen and (max-width: 1400px) {
        .field-info-value input {
          width: 90%; } }
      .field-info-value input:focus {
        border-color: #e0a612; }
    .field-info-value .field-desc {
      margin-top: 8px;
      font-weight: 300;
      font-size: 13px;
      line-height: 24px;
      color: #6d6d6d;
      margin-bottom: 0; }
  .field-info-email label, .field-info-phone label {
    margin-bottom: 9px; }
  .field-info-email .field-desc, .field-info-phone .field-desc {
    margin-top: 6px; }
  .field-info-email {
    margin-bottom: 72px; }
  .field-info-password > input {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #363636; }
  .field-info-password > label {
    margin-bottom: 9px; }
  .field-info-password .field-desc {
    height: 46px; }
  .field-info .btn-update-pass {
    transform: translateY(-10px); }
  .field-info button {
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 2px;
    min-width: 100px;
    height: 40px;
    display: inline-block;
    background-color: transparent;
    color: #696969;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px;
    outline: none;
    transform: translateY(-20px); }
    .field-info button:hover, .field-info button:focus {
      border-color: #e0a612;
      color: #363636; }

.change-password {
  display: none; }
  .change-password .password-input {
    display: flex;
    align-items: center;
    border: 1px solid #c4c4c4;
    padding: 10px 20px; }
    .change-password .password-input input {
      border-radius: 2px;
      width: 100%;
      padding: 0;
      padding-right: 10px;
      outline: none;
      border: 0;
      color: #000; }
      .change-password .password-input input::placeholder {
        color: #696969; }
    .change-password .password-input .icon-eye {
      cursor: pointer; }
    .change-password .password-input:first-child {
      margin-bottom: 19px; }

.account-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  transform: translateY(-5px); }
  .account-order-title {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    margin-bottom: 0; }
  .account-order .order-filter {
    display: flex;
    align-items: center; }
    .account-order .order-filter .key-word {
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 8px;
      margin-right: 30px;
      width: 200px; }
      .account-order .order-filter .key-word::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: #c4c4c4; }
      .account-order .order-filter .key-word input {
        border: none;
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        color: #363636; }
        .account-order .order-filter .key-word input::placeholder {
          opacity: 0.5; }
    .account-order .order-filter .date {
      display: flex;
      align-items: center;
      width: 127px; }
      .account-order .order-filter .date input,
      .account-order .order-filter .date input:focus {
        border: 0;
        outline: none;
        box-shadow: none;
        padding: 0 0 0 10px;
        margin-right: 5px; }
        .account-order .order-filter .date input::placeholder,
        .account-order .order-filter .date input:focus::placeholder {
          font-weight: 300;
          font-size: 14px;
          line-height: 30px;
          color: #696969; }
    .account-order .order-filter button[type="submit"] {
      display: block;
      background-color: #e0a612;
      border-radius: 2px;
      border: none;
      min-width: 100px;
      height: 30px;
      font-weight: 300;
      font-size: 14px;
      line-height: 30px;
      padding: 0 20px;
      color: #000;
      transition: all 0.2s linear; }
      .account-order .order-filter button[type="submit"]:hover {
        background-color: #c79515; }

.table-order {
  margin-top: 13px;
  height: 410px;
  overflow-y: scroll;
  overflow-x: hidden; }
  .table-order::-webkit-scrollbar-track {
    border-radius: 10px; }
  .table-order::-webkit-scrollbar {
    width: 9px; }
  .table-order::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e5e5e5; }
  .table-order thead {
    margin-bottom: 13px; }
    .table-order thead tr:nth-child(1) th {
      background: white;
      position: sticky;
      top: 0;
      z-index: 1; }
  .table-order tr th {
    font-size: 15px;
    line-height: 19px;
    color: #000; }
  .table-order tbody tr {
    margin-bottom: 6px; }
    .table-order tbody tr:nth-child(8) {
      margin-bottom: 0; }
    .table-order tbody tr th {
      text-decoration: underline; }
  .table-order tr td {
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #363636; }
    .table-order tr td a {
      font-size: 14px;
      line-height: 17px;
      color: #235c47; }
      .table-order tr td a:hover {
        text-decoration: underline; }
    .table-order tr td.done {
      color: #098d26; }
    .table-order tr td.destroy {
      color: #c85a5a; }
    .table-order tr td.pending {
      color: #e0a612; }
  .table-order tbody {
    height: 200px;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden; }

@media screen and (max-width: 992px) {
  .account-content {
    margin-left: 0px; }
  .account-wrapper {
    margin: 50px 0; }
  .field-info {
    margin-bottom: 30px; }
    .field-info:last-child {
      margin-bottom: 0; }
    .field-info-value {
      width: auto;
      margin-right: 20px; }
  .account-order {
    flex-wrap: wrap; }
    .account-order-title {
      margin-bottom: 10px; }
    .account-order .order-filter {
      flex-wrap: wrap; }
      .account-order .order-filter .key-word {
        width: 100%;
        margin-bottom: 10px; }
        .account-order .order-filter .key-word input {
          width: 100%; }
      .account-order .order-filter .date {
        display: flex;
        align-items: center;
        width: 127px; }
        .account-order .order-filter .date input,
        .account-order .order-filter .date input:focus {
          border: 0;
          outline: none;
          box-shadow: none;
          padding: 0 0 0 10px;
          margin-right: 5px; }
          .account-order .order-filter .date input::placeholder,
          .account-order .order-filter .date input:focus::placeholder {
            font-weight: 300;
            font-size: 14px;
            line-height: 30px;
            color: #696969; }
      .account-order .order-filter button[type="submit"] {
        display: block;
        background-color: #e0a612;
        border-radius: 2px;
        border: none;
        min-width: 100px;
        height: 30px;
        font-weight: 300;
        font-size: 14px;
        line-height: 30px;
        padding: 0 20px;
        color: #000;
        transition: all 0.2s linear; }
        .account-order .order-filter button[type="submit"]:hover {
          background-color: #c79515; } }

.payment-wrapper {
  margin-top: 67px;
  margin-bottom: 150px; }
  .payment-wrapper .title {
    font-size: 17px;
    line-height: 21px;
    color: #000;
    margin-bottom: 29px;
    margin-top: 0; }

.payment-block {
  margin-bottom: 50px; }

.payment-info {
  margin-top: 20px;
  margin-right: 35px; }
  .payment-info .title-field {
    margin-bottom: 19px;
    font-size: 15px;
    line-height: 19px;
    color: #000; }
    .payment-info .title-field-sub {
      margin-bottom: 0;
      font-weight: 300;
      font-size: 15px;
      line-height: 19px;
      text-decoration: underline;
      color: #000; }
  .payment-info .person-info .input-field {
    position: relative; }
    .payment-info .person-info .input-field input {
      padding-right: 45px; }
    .payment-info .person-info .input-field img {
      position: absolute;
      top: 50%;
      right: 13px;
      transform: translateY(-50%); }
  .payment-info .input-field,
  .payment-info .select-field {
    margin-bottom: 20px; }
    .payment-info .input-field input,
    .payment-info .input-field select,
    .payment-info .select-field input,
    .payment-info .select-field select {
      width: 100%;
      padding: 15px;
      font-weight: 300;
      font-size: 15px;
      line-height: 19px;
      color: #363636;
      border: 1px solid #c4c4c4;
      border-radius: 2px;
      height: 50px;
      box-shadow: none; }
      .payment-info .input-field input::placeholder,
      .payment-info .input-field select::placeholder,
      .payment-info .select-field input::placeholder,
      .payment-info .select-field select::placeholder {
        color: #696969;
        font-weight: 300; }
    .payment-info .input-field.field-double,
    .payment-info .select-field.field-double {
      display: flex;
      justify-content: space-between; }
      .payment-info .input-field.field-double input,
      .payment-info .input-field.field-double select,
      .payment-info .select-field.field-double input,
      .payment-info .select-field.field-double select {
        width: calc(50% - 10px); }
  .payment-info .select-field select {
    position: relative; }
    .payment-info .select-field select::after {
      position: absolute;
      content: "aaa";
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      z-index: 9; }
  .payment-info .type-payment .radio-field {
    margin-bottom: 20px;
    position: relative;
    height: 50px; }
    .payment-info .type-payment .radio-field img {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%); }
    .payment-info .type-payment .radio-field .form-check {
      padding: 15px; }
      .payment-info .type-payment .radio-field .form-check label {
        padding-left: 47px;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 15px;
        line-height: 19px; }
  .payment-info .type-payment input + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    transition: all 0.2s linear; }
  .payment-info .type-payment input + label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #696969;
    border-radius: 50%;
    transition: all 0.2s linear; }
  .payment-info .type-payment input:checked + label {
    color: #000; }
    .payment-info .type-payment input:checked + label::before {
      width: 10px;
      height: 10px;
      box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
      background-color: #000;
      left: 20px; }
    .payment-info .type-payment input:checked + label::after {
      border-color: #000; }
  .payment-info .note {
    margin-bottom: 10px; }
    .payment-info .note textarea {
      width: 100%;
      padding: 15px;
      font-weight: 300;
      font-size: 15px;
      line-height: 19px;
      color: #363636;
      border: 1px solid #c4c4c4;
      border-radius: 2px;
      min-height: 120px;
      resize: none; }
      .payment-info .note textarea::placeholder {
        color: #696969;
        font-weight: 300; }
  .payment-info button[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: center;
    width: 300px !important;
    height: 50px !important;
    display: block;
    margin-left: auto; }

.order-info {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 19px 18px 25px 19px;
  margin-left: 35px;
  margin-right: 155px; }
  .order-info .title {
    margin-bottom: 29px; }
  .order-info .price-total {
    margin: 27px 7px 26px 0; }
    .order-info .price-total .price {
      display: flex;
      justify-content: space-between; }
      .order-info .price-total .price span {
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.05em;
        color: #000; }
      .order-info .price-total .price.price-ship {
        margin-top: 9px; }
        .order-info .price-total .price.price-ship img {
          padding-left: 6px; }
  .order-info .discount-code {
    position: relative; }
    .order-info .discount-code input {
      border: 1px solid #e5e5e5;
      border-radius: 2px;
      font-weight: 300;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: -0.05em;
      color: #696969;
      padding: 16px 80px 15px 14px;
      width: 100%;
      height: 50px; }
      .order-info .discount-code input::-webkit-input-placeholder {
        color: #363636; }
      .order-info .discount-code input::-moz-input-placeholder {
        color: #363636; }
    .order-info .discount-code button {
      position: absolute;
      top: 16px;
      right: 17px;
      border: none;
      outline: none;
      color: #e0a612;
      background-color: transparent;
      font-weight: 300;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: -0.05em; }
      .order-info .discount-code button:hover {
        color: #c79515; }
  .order-info .total-order {
    display: flex;
    justify-content: space-between;
    margin-top: 36px; }
    .order-info .total-order span {
      font-size: 17px;
      line-height: 21px;
      letter-spacing: -0.05em;
      color: #000; }

.order-list {
  border-bottom: 1px solid #e5e5e5; }

.order-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px; }
  .order-item-hero {
    display: flex; }
    .order-item-hero .thumbnail {
      display: block;
      background-color: #f4f4f1;
      border-radius: 5px;
      width: 90px;
      height: 100px;
      flex-shrink: 0; }
      .order-item-hero .thumbnail img {
        width: 43px;
        height: 66px;
        object-fit: contain;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
  .order-item-desc {
    margin-left: 20px; }
    .order-item-desc a {
      color: #000;
      font-size: 15px;
      line-height: 19px;
      display: block;
      margin-bottom: 8px; }
      .order-item-desc a:hover {
        color: #e0a612; }
    .order-item-desc span {
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      display: block; }
  .order-item-price {
    margin-top: 27px; }
    .order-item-price span {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.05em;
      color: #363636; }

@media screen and (max-width: 576px) {
  .payment-wrapper {
    margin: 50px 0 50px; }
  .payment-info {
    margin: 0px; }
  .order-info {
    margin: 50px 0 0; } }

.news-wrapper {
  margin-bottom: 100px; }
  .news-wrapper .container {
    max-width: 1210px; }
  .news-wrapper .news-head {
    position: relative;
    padding-top: 83px; }
    .news-wrapper .news-head .title-big {
      margin: 0 auto;
      margin-bottom: 22px;
      max-width: 675px; }
    .news-wrapper .news-head .slogan {
      line-height: 30px;
      text-align: center;
      margin-bottom: 0; }
    .news-wrapper .news-head img {
      position: absolute;
      top: -29px;
      left: 50%;
      transform: rotate(180deg) translateX(50%);
      z-index: -1; }
  .news-wrapper .newest {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .news-wrapper .newest-text {
      width: 515px; }
      .news-wrapper .newest-text .title {
        margin-bottom: 20px; }
        .news-wrapper .newest-text .title a {
          font-size: 30px;
          line-height: 37px;
          color: #000; }
          .news-wrapper .newest-text .title a:hover {
            color: #e0a612; }
      .news-wrapper .newest-text .desc {
        font-weight: 300;
        font-size: 17px;
        line-height: 30px;
        color: #363636; }
    .news-wrapper .newest-thumbnail {
      display: block;
      width: 565px;
      height: 350px;
      flex-shrink: 0; }
      .news-wrapper .newest-thumbnail img {
        height: 100%;
        width: 100%;
        border-radius: 5px; }
  .news-wrapper .new-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 50px; }
  .news-wrapper .new-item {
    width: calc(33.33% - 33.33px);
    margin-bottom: 50px; }
    .news-wrapper .new-item-thumbnail {
      display: block; }
      .news-wrapper .new-item-thumbnail img {
        border-radius: 5px; }
    .news-wrapper .new-item-create {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: #696969;
      margin: 17px 0;
      padding-left: 10px;
      border-left: 3px solid #e0a612; }
    .news-wrapper .new-item-title {
      margin-bottom: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      max-width: 100%;
      word-break: break-word; }
      .news-wrapper .new-item-title a {
        font-size: 18px;
        line-height: 22px;
        color: #000;
        display: block;
        height: 48px; }
        .news-wrapper .new-item-title a:hover {
          color: #e0a612; }

@media screen and (max-width: 992px) {
  .news-wrapper .newest-text {
    width: 47%; }
  .news-wrapper .newest-thumbnail {
    width: 47%; }
    .news-wrapper .newest-thumbnail img {
      object-fit: cover; } }

@media screen and (max-width: 576px) {
  .news-wrapper {
    margin-bottom: 50px; }
    .news-wrapper .news-head {
      padding-top: 30px; }
    .news-wrapper .newest {
      margin: 50px 0 30px;
      flex-wrap: wrap;
      flex-direction: column-reverse; }
      .news-wrapper .newest-text {
        width: 100%; }
      .news-wrapper .newest-thumbnail {
        width: 100%;
        margin-bottom: 30px; }
    .news-wrapper .new-list {
      margin-bottom: 30px; }
    .news-wrapper .new-item {
      width: calc(50% - 10px);
      margin-bottom: 30px; }
      .news-wrapper .new-item-title {
        margin-bottom: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        max-width: 100%;
        word-break: break-word; }
        .news-wrapper .new-item-title a {
          font-size: 18px;
          line-height: 22px;
          color: #000;
          display: block;
          height: 40px; }
          .news-wrapper .new-item-title a:hover {
            color: #e0a612; } }

.new-wrapper .container {
  max-width: 740px; }

.new-wrapper-inner {
  margin-bottom: 101px;
  margin-top: 58px; }

.new-wrapper .new-head {
  padding: 0 30px; }
  .new-wrapper .new-head .new-title {
    font-size: 40px;
    line-height: 50px;
    color: #000;
    text-align: left;
    margin: 0; }
  .new-wrapper .new-head .new-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 20px; }
    .new-wrapper .new-head .new-sub .new-create {
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      color: #8c8c8c;
      margin-bottom: 0; }
    .new-wrapper .new-head .new-sub .new-share {
      display: flex;
      align-items: center; }
      .new-wrapper .new-head .new-sub .new-share a {
        display: block;
        margin-left: 26px; }

.new-wrapper .new-content-thumbnail {
  width: 740px;
  height: 450px;
  margin-bottom: 31px; }

.new-wrapper .new-content-main {
  padding: 0 20px; }

.new-wrapper .new-content p {
  font-weight: 300;
  font-size: 19px;
  line-height: 36px;
  color: #363636; }

.new-wrapper .source-new {
  text-align: right;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  color: #363636;
  margin-top: 23px;
  margin-bottom: 54px; }

.new-wrapper .new-relative {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #e5e5e5; }
  .new-wrapper .new-relative-title {
    font-size: 19px;
    line-height: 24px;
    color: #000;
    margin-bottom: 25px; }
  .new-wrapper .new-relative-item {
    border: 1px solid #e5e5e5;
    padding: 25px 23px;
    display: flex;
    align-items: center; }
    .new-wrapper .new-relative-item .new-relative-thumbnail {
      display: block;
      width: 200px;
      height: 200px;
      flex-shrink: 0; }
      .new-wrapper .new-relative-item .new-relative-thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .new-wrapper .new-relative-item .new-relative-info {
      margin-left: 21px; }
      .new-wrapper .new-relative-item .new-relative-info span {
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        color: #5b5b5b; }
      .new-wrapper .new-relative-item .new-relative-info h4 {
        margin-top: 12px; }
        .new-wrapper .new-relative-item .new-relative-info h4 a {
          display: block;
          font-size: 30px;
          line-height: 37px;
          color: #000; }
          .new-wrapper .new-relative-item .new-relative-info h4 a:hover {
            color: #e0a612; }

@media screen and (max-width: 576px) {
  .new-wrapper .new-head {
    padding: 0; } }

.search-result {
  padding-top: 157px;
  padding-bottom: 16px; }

.search-key {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: #363636;
  margin-bottom: 0; }
  .search-key span {
    font-weight: 400;
    color: #000; }

.search-number {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.05em;
  color: #696969;
  margin-bottom: 0; }

.result-tab {
  margin-bottom: 61px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5; }
  .result-tab-inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .result-tab-left a {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #696969;
    padding: 21px 19px 22px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: all 0.2s linear; }
    .result-tab-left a.active {
      color: #000;
      pointer-events: none;
      border-bottom: 2px solid #e0a612; }
    .result-tab-left a:hover {
      color: #000; }
  .result-tab-right select {
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #363636; }
    .result-tab-right select:focus {
      box-shadow: none; }

.policy-wrapper .container {
  max-width: 710px; }

.policy-wrapper-inner {
  margin: 85px 0 114px; }

.policy-title {
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.05em;
  color: #000;
  margin-bottom: 26px;
  margin-top: 0; }

.policy-content {
  color: #363636;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.05em; }

@media screen and (max-width: 576px) {
  .policy-wrapper-inner {
    margin: 50px 0; } }

.auth-wrapper {
  padding-top: 56px; }
  .auth-wrapper .container {
    max-width: 410px; }
  .auth-wrapper .auth-logo {
    display: block; }
    .auth-wrapper .auth-logo img {
      margin: 0 auto; }
  .auth-wrapper .auth-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000;
    margin-top: 170px;
    margin-bottom: 19px; }
  .auth-wrapper .auth-sub {
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #696969;
    text-align: center;
    height: 28px; }
  .auth-wrapper .auth-social {
    display: flex;
    justify-content: space-between;
    padding-bottom: 19px;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 11px; }
    .auth-wrapper .auth-social-item {
      width: calc(50% - 10px);
      border: 1px solid #c4c4c4;
      border-radius: 2px;
      height: 50px; }
      .auth-wrapper .auth-social-item a {
        display: block;
        line-height: 50px;
        text-align: center; }
      .auth-wrapper .auth-social-item img {
        display: inline-block; }
      .auth-wrapper .auth-social-item span {
        font-weight: 300;
        font-size: 13px;
        line-height: 24px;
        color: #363636;
        padding-left: 9px; }
    .auth-wrapper .auth-social-facebook span {
      padding-left: 4px; }
  .auth-wrapper .auth-option {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #696969;
    margin-bottom: 19px; }
  .auth-wrapper .auth-input .auth-input-field {
    margin-bottom: 20px; }
    .auth-wrapper .auth-input .auth-input-field input {
      width: 100%;
      font-weight: 300;
      font-size: 15px;
      line-height: 24px;
      color: #363636;
      padding: 13px 17px;
      height: 50px;
      border: 1px solid #c4c4c4;
      border-radius: 2px;
      transition: all 0.2s linear; }
      .auth-wrapper .auth-input .auth-input-field input::placeholder {
        color: #8c8c8c; }
      .auth-wrapper .auth-input .auth-input-field input:focus {
        border-color: #696969; }
  .auth-wrapper .auth-input .password-input {
    position: relative; }
    .auth-wrapper .auth-input .password-input input {
      padding-right: 40px; }
    .auth-wrapper .auth-input .password-input i {
      position: absolute;
      right: 20px;
      top: 15px;
      cursor: pointer; }
  .auth-wrapper .auth-input button[type="submit"] {
    font-size: 13px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 100%;
    display: block;
    border-radius: 2px;
    border: none;
    outline: none;
    margin-bottom: 12px; }
  .auth-wrapper .auth-forget {
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    text-decoration: underline;
    text-align: center;
    color: #363636;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 36px; }
  .auth-wrapper .auth-register {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #363636;
    text-align: center; }
    .auth-wrapper .auth-register a {
      font-weight: 400;
      text-decoration: underline;
      color: #363636; }

.register-wrapper .auth-title {
  margin-bottom: 29px; }

.register-wrapper .auth-sub {
  height: auto; }

.register-wrapper .auth-input button[type="submit"] {
  margin-bottom: 30px; }

.forgot-pass-wrapper .auth-title {
  margin-top: 258px;
  margin-bottom: 7px; }

.forgot-pass-wrapper .auth-sub {
  margin-bottom: 13px; }

@media screen and (max-width: 576px) {
  .auth-wrapper {
    padding-top: 40px; }
    .auth-wrapper .auth-title {
      margin-top: 60px; } }

.intro-head {
  background-color: #f8f8f6;
  padding-bottom: 95px; }
  .intro-head .title {
    font-size: 64px;
    line-height: 75px;
    color: #000;
    margin-bottom: 27px;
    margin-top: 0;
    padding-top: 90px;
    font-family: "Lora", serif; }
  .intro-head p {
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #363636; }
  .intro-head-first {
    padding-right: 58px; }
  .intro-head-second {
    padding-left: 55px; }

.intro-body {
  padding: 186px 0;
  padding-bottom: 190px;
  background-image: url(" ./../img/overlay-intro.png");
  background-repeat: no-repeat;
  background-position: center center; }
  .intro-body .title {
    margin-top: 73px;
    padding-right: 149px;
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 56px;
    color: #000;
    font-family: "Lora", serif; }
  .intro-body p {
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #363636; }
  .intro-body-first {
    margin-bottom: 186px; }
    .intro-body-first p {
      padding-right: 35px; }
    .intro-body-first .intro-body-thumb {
      margin-left: 36px; }
  .intro-body .intro-body-thumb {
    width: 620px;
    height: 489px;
    position: relative; }
    .intro-body .intro-body-thumb img {
      position: absolute;
      z-index: 1; }
    .intro-body .intro-body-thumb::after {
      content: "";
      position: absolute;
      top: -18px;
      right: -17px;
      background-color: #1c2a1e;
      border-radius: 2px;
      width: 100%;
      height: 100%;
      z-index: 0; }
  .intro-body-second .title {
    margin-top: 107px;
    padding-left: 35px;
    margin-bottom: 15px; }
  .intro-body-second p {
    padding-left: 35px; }
  .intro-body-second .intro-body-thumb::after {
    content: "";
    position: absolute;
    top: 19px;
    left: -17px;
    background-color: #e0a612;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    z-index: 0; }

.intro-certification {
  background-color: #f4f4f1;
  padding: 96px 0 150px; }
  .intro-certification .title {
    font-size: 48px;
    line-height: 56px;
    color: #000;
    margin-bottom: 80px;
    text-align: center;
    font-family: "Lora", serif; }
  .intro-certification .list-certification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }

.intro-custommer {
  padding: 115px 0 128px; }
  .intro-custommer .title {
    font-size: 48px;
    line-height: 56px;
    color: #000;
    margin-bottom: 57px;
    text-align: center;
    font-family: "Lora", serif; }
  .intro-custommer .list-custommer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
  .intro-custommer .custommer-item {
    width: 150px;
    height: 90px;
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    justify-content: center; }

@media screen and (max-width: 992px) {
  .intro-head {
    padding-bottom: 50px; }
    .intro-head .title {
      padding-top: 50px; }
    .intro-head-first {
      padding-right: 10px; }
    .intro-head-second {
      padding-left: 10px; }
  .intro-body {
    padding: 100px 0; }
    .intro-body-first {
      margin-bottom: 50px; }
      .intro-body-first p {
        padding-right: 0px; }
      .intro-body-first .intro-body-thumb {
        margin-left: 0px; }
    .intro-body-second .title {
      padding-left: 0; }
    .intro-body-second p {
      padding-left: 0; }
  .intro-certification {
    padding: 70px 0 100px; }
    .intro-certification .list-certification img {
      width: calc(20% - 40px);
      display: block;
      margin-bottom: 20px; }
  .intro-custommer {
    padding: 50px 20px; }
    .intro-custommer .custommer-item {
      margin-bottom: 20px; } }

@media screen and (max-width: 576px) {
  .intro-head {
    padding-bottom: 30px; }
    .intro-head .title {
      font-size: 50px; }
  .intro-body {
    padding: 70px 0 30px ​; }
    .intro-body-first .title {
      padding: 0;
      margin-top: 35px;
      font-size: 45px; }
    .intro-body-first p {
      padding-right: 0px; }
    .intro-body .intro-body-thumb {
      width: 100%;
      height: 337px; }
      .intro-body .intro-body-thumb img {
        height: 100%; }
      .intro-body .intro-body-thumb::after {
        top: -15px;
        right: -10px; }
    .intro-body-second .title {
      padding-right: 0px;
      font-size: 45px;
      margin-top: 70px; }
  .intro-certification {
    padding: 50px 0 30px; }
    .intro-certification .title {
      font-size: 40px; }
  .intro-custommer .title {
    font-size: 40px; } }

.order-detail-wrapper {
  margin-top: 105px;
  margin-bottom: 171px; }
  .order-detail-wrapper .destroy-order {
    background: #c85a5a;
    border-radius: 2px;
    color: #fff;
    width: 112px;
    height: 40px;
    font-size: 13px;
    display: block;
    text-align: center;
    line-height: 40px;
    margin-left: auto;
    margin-top: 40px;
    text-transform: uppercase; }
    .order-detail-wrapper .destroy-order:hover {
      background: #d35858; }

.order-detail-title {
  display: flex;
  align-items: center; }
  .order-detail-title a {
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #000;
    display: block; }
  .order-detail-title .bg-back {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    position: relative;
    margin-right: 16px; }
    .order-detail-title .bg-back::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #1c2a1e;
      opacity: 0.05; }
    .order-detail-title .bg-back img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

.order-detail-status span {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #363636; }
  .order-detail-status span:last-child {
    font-weight: 400; }

.table-order-detail {
  margin-top: 0; }
  .table-order-detail .product-order {
    display: flex;
    align-items: center; }
    .table-order-detail .product-order-thumb {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      height: 100px;
      background: #f4f4f1;
      border-radius: 5px;
      padding: 10px 15px;
      margin-right: 39px; }
      .table-order-detail .product-order-thumb img {
        max-height: 100%; }
    .table-order-detail .product-order h4 {
      font-size: 17px;
      line-height: 21px;
      color: #000;
      margin-bottom: 0; }
  .table-order-detail thead {
    margin-bottom: 0; }
    .table-order-detail thead tr {
      border-bottom: 0; }
      .table-order-detail thead tr th {
        padding-bottom: 3px; }
  .table-order-detail tbody tr th {
    text-decoration: none; }
  .table-order-detail tr {
    border-bottom: 1px solid #e5e5e5; }
    .table-order-detail tr td {
      line-height: 100px;
      padding-bottom: 20px;
      padding-top: 20px; }
    .table-order-detail tr th {
      padding-left: 0;
      padding-top: 20px; }

@media screen and (max-width: 576px) {
  .order-detail-wrapper {
    margin: 50px 0; }
  .order-detail-title {
    margin-bottom: 30px; } }

.table-cart thead tr:nth-child(1) th {
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 7px; }

.cart-wrapper .cart-title {
  font-size: 18px;
  line-height: 22px;
  color: #000; }

.cart-wrapper .cart-total {
  width: 300px;
  margin-left: auto; }
  .cart-wrapper .cart-total span {
    font-size: 15px;
    line-height: 19px;
    color: #000;
    margin-top: 21px; }

.cart-wrapper .btn-continue {
  background: #000;
  border-radius: 2px;
  color: #fff;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-top: 21px;
  text-transform: uppercase; }
  .cart-wrapper .btn-continue:hover {
    background: #363636; }

@media screen and (max-width: 992px) {
  .table-cart thead tr:nth-child(1) th {
    padding-bottom: 0px; } }
