$primary-color: #1c2a1e;
$secondary-color: #e0a612;
$secondary-color-hover: #c79515;
$color-gray: #c4c4c4;
$color-medium-gray: #e5e5e5;
$color-light-gray: #f4f4f1;
$color-text-primary: #000;
$color-text-secondary: #696969;
$color-text-third: #363636;
$color-text-fourth: #fff;
$bg-light-gray: #f8f8f6;