.footer {
  padding: 99px 0 90px;
  background-color: $primary-color;
  &-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: $color-text-fourth;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  &-list {
    ul {
      margin-top: 19px;
      margin-bottom: 0;
      a {
        font-size: 12px;
        line-height: 30px;
        text-transform: uppercase;
        color: $color-text-fourth;
        opacity: 0.7;
        font-weight: 300;
        &:hover {
          opacity: 1;
        }
      }
    }
    &.footer-cate {
      margin-top: 7px;
      margin-left: 5px;
    }
    &.footer-info {
      margin: 10px 0 0 12px;
      ul {
        margin-top: 17px;
      }
    }
    .see-more {
      margin-top: 4px;
      a {
        color: $color-text-fourth;
        font-size: 13px;
        img {
          padding-left: 8px;
        }
      }
    }
  }
  &-contact {
    margin-top: 7px;
    margin-left: 17px;
    .location {
      color: $color-text-fourth;
      opacity: 0.7;
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase;
      margin: 21px 0 7px;
      font-weight: 300;
    }
    .tel,
    .email {
      margin-bottom: 0;
      a {
        color: $color-text-fourth;
        opacity: 0.7;
        font-size: 12px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 300;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &-social {
    padding-left: 4px;
    position: relative;
    top: 7px;
    a {
      padding-right: 22px;
      i {
        color: $color-light-gray;
      }
    }
  }
  &-copyright {
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    color: $color-gray;
    margin: 15px 0 0;
  }
  &-social-wrapper {
    display: flex;
    position: absolute;
    bottom: -70px;
  }
  &-social-item {
    @include size(40px);
    background: #e0a612;
    border-radius: 2px;
    margin-right: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
      margin-right: 0;
    }
  }
}

@include maxWidth(576px) {
  .footer {
    padding: 50px 0 30px;
    &-list {
      &.footer-cate {
        margin-left: 0px;
      }
      &.footer-info {
        margin: 30px 0 0 0;
      }
    }
    &-contact {
      margin-top: 20px;
      margin-left: 0px;
    }
    &-social-wrapper {
      position: static;
      margin-top: 20px;
    }
  }
}
