.header {
  &-nav {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
  }
  &-nav-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    .icon-header-menu {
      margin-right: 9px !important;
    }
    span {
      font-size: 12px;
      line-height: 15px;
      color: $primary-color;
    }
  }
  &-nav-wp {
    position: relative;
    margin: 0 100px;
  }
  &-nav-title {
    position: absolute;
    text-align: center;
    top: 280px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    width: 875px;
    display: none;
    h1 {
      color: $color-text-fourth;
      font-weight: 700;
      font-size: 64px;
      line-height: 80px;
      text-align: center;
      letter-spacing: -3px;
      margin: 0 0 38px;
    }
  }
  &-nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-nav-logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 153px;
    height: 32px;
    cursor: pointer;
  }

  //   .icon-header-menu,
  //   .header-block span,
  //   & + .menu-respon .icon-header-menu {
  //     margin-right: 20px;
  //     color: $primary-color;
  //     width: 40px;
  //     height: 40px;
  //     position: relative;
  //     cursor: pointer;
  //     text-align: center;
  //     line-height: 40px;
  //     font-size: 18px;
  //     &::before {
  //       position: absolute;
  //       top: 50%;
  //       left: 50%;
  //       transform: translate(-50%, -50%);
  //     }
  //     &::after {
  //       content: "";
  //       position: absolute;
  //       width: 100%;
  //       height: 100%;
  //       top: 0;
  //       left: 0;
  //       background-color: $primary-color;
  //       opacity: 0.05;
  //     }
  //   }
  .block-cart-wrapper {
    position: relative;
    .num-cart {
      position: absolute;
      top: 5px;
      left: 20px;
      background-color: $secondary-color;
      border-radius: 50%;
      color: $color-text-fourth;
      font-size: 12px;
      display: block;
      width: 16px;
      height: 16px;
      text-align: center;
      line-height: 16px;
    }
  }
  &-social {
    position: absolute;
    bottom: 50px;
    z-index: 2;
    left: 105px;
    display: none;
    a {
      margin-right: 25px;
      i {
        font-size: 17px;
        color: #999999;
      }
    }
  }
  // cho trang chu
  .header-nav-home {
    border-bottom: 0;
    padding: 0;
    position: relative;
    .header-nav-title {
      display: block;
    }
    .header-nav-logo {
      background-image: url("../img/logo-home.png");
      background-repeat: no-repeat;
      width: 153px;
      height: 68px;
      position: relative;
      left: 38px;
      top: 0;
    }
    .header-nav-inner {
      top: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
      margin-top: 5px;
    }
    .slide-header-home {
      display: block !important;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        opacity: 0.6;
        background: radial-gradient(
          142.4% 142.4% at 50% 64.38%,
          #000000 7.29%,
          #000000 100%
        );
      }
    }
    .icon-header-menu,
    .header-block span {
      color: $color-text-fourth;
      &::after {
        background-color: $color-text-fourth;
      }
    }
    .header-block span.header-block-lang {
      line-height: 36px;
      font-size: 13px;
    }
    .header-social {
      display: block;
    }
    .header-nav-menu span {
      color: $color-text-fourth;
    }
  }
  .slide-header-home {
    display: none !important;
  }
}

.slide-header-home {
  position: relative;
  img {
    height: 960px;
    object-fit: cover;
  }
  .owl-dots {
    position: absolute;
    top: 50%;
    right: 55px;
    margin-top: 25px !important;
    transform: rotate(90deg) translateY(-50%);
    z-index: 1;
    .owl-dot {
      padding-right: 23px !important;
      &:focus {
        outline: none;
      }
      span {
        margin: 0px !important;
        @include size(8px);
      }
    }
    .owl-dot.active,
    .owl-dot:hover {
      span {
        position: relative;
        background-color: yellow !important;
        &::after {
          content: "";
          position: absolute;
          top: -4px;
          left: -4px;
          border-radius: 50%;
          background: transparent;
          border: 1px solid yellow;
          @include size(16px);
        }
      }
    }
  }
}

.wrapper.active-menu {
  overflow: hidden;
  height: 100vh;
  .menu-respon {
    .icon-header-menu,
    .header-block {
      color: $color-text-fourth;
      &::after {
        background-color: $color-text-fourth;
      }
    }
    i.header-block-cart {
      margin-right: 0;
    }
    .header-nav-inner {
      margin-bottom: 115px;
    }
    .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #235c47;
      font-size: 200px;
      line-height: 250px;
      opacity: 0.05;
      letter-spacing: 55px;
      pointer-events: none;
    }
    .image-overlay {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.menu-respon {
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px 100px 0;
  transform: translateX(-100%);
  opacity: 0;
  @include transition;
  &.active {
    transform: translateX(0);
    opacity: 1;
  }
  .icon-header-menu,
  .header-block {
    color: $color-text-fourth;
    &::after {
      background-color: $color-text-fourth;
    }
  }
  i.header-block-cart {
    margin-right: 0;
  }
  .header-nav-inner {
    margin-bottom: 115px;
  }
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #235c47;
    font-size: 200px;
    line-height: 250px;
    opacity: 0.05;
    letter-spacing: 55px;
    pointer-events: none;
  }
  .image-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.menu {
  &-item {
    margin-bottom: 47px;
    padding-left: 3px;
  }
  &-link {
    display: block;
    color: $color-text-fourth;
    font-size: 20px;
    line-height: 25px;
  }
  &-item.active,
  &-item:hover {
    a {
      color: $secondary-color;
    }
  }
  &-respon-search {
    margin: 70px 0 0 5px;
    max-width: 200px;
    position: relative;
    padding-bottom: 8px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      opacity: 0.1;
    }
    input {
      border: none;
      font-weight: 300;
      font-size: 15px;
      line-height: 19px;
      background: $primary-color;
      color: #fff;
      position: relative;
      max-width: 175px;
      &::placeholder {
        color: #fff;
        opacity: 0.5;
      }
    }
    button {
      border: none;
      background-color: transparent;
      position: absolute;
      top: 2px;
      right: 6px;
      i {
        font-size: 15px;
        color: #f4f4f1;
      }
    }
  }
}

.menu-respon-info {
  margin: 0 80px 0 35px;
  .title {
    font-size: 20px;
    line-height: 25px;
    color: $color-text-fourth;
  }
  .location {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.7;
    margin: 22px 0 7px;
  }
  .tel,
  .mail {
    display: block;
    font-size: 12px;
    line-height: 30px;
    color: #ffffff;
    opacity: 0.7;
  }
  .social {
    margin: 25px 0 55px;
    a {
      display: inline-block;
      margin-right: 25px;
      i {
        color: $color-text-fourth;
        opacity: 0.5;
      }
    }
  }
  .lang {
    &-title {
      font-size: 15px;
      line-height: 19px;
      color: #ffffff;
      margin-bottom: 15px;
    }
    span {
      @include size(40px);
      position: relative;
      font-size: 13px;
      font-weight: 600;
      display: inline-block;
      line-height: 40px;
      text-align: center;
      color: $color-gray;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        opacity: 0.05;
        border-radius: 2px;
      }
      &:first-of-type {
        margin-right: 15px;
      }
    }
    span.active {
      color: $secondary-color;
    }
  }
}

// header-cart-block
.header-cart-block {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  background: $color-text-fourth;
  padding: 25px;
  height: 100vh;
  width: 450px;
  transform: translateX(100%);
  opacity: 0;
  @include transition;
  &.active {
    opacity: 1;
    transform: translateX(0%);
  }
  .header-cart {
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-medium-gray;
      margin-bottom: 3px;
      padding-bottom: 23px;
      padding-top: 11px;
      p {
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 0;
        color: $color-text-primary;
      }
      .header-cart-img {
        width: 18px;
        height: 18px;
        cursor: pointer;
      }
    }
    .order-item {
      padding: 18px 0;
      border-bottom: 1px solid $color-medium-gray;
      &:last-child {
        padding-bottom: 16px;
      }
    }
    .policy-cart {
      margin-top: 15px;
      margin-bottom: 25px;
      input {
        margin-right: 0;
        width: 18px;
        height: 18px;
      }
      label {
        padding-left: 15px;
        font-weight: 300;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: -0.05em;
        color: $color-text-third;
      }
    }
    .price-temp {
      font-weight: 300;
      font-size: 17px;
      line-height: 21px;
      letter-spacing: -0.05em;
      color: $color-text-third;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
      border-bottom: 1px solid $color-medium-gray;
    }
    .price-pay {
      background-color: $color-text-primary;
      text-align: center;
      height: 50px;
      margin-top: 33px;
      cursor: pointer;
      a {
        width: 100%;
        height: 100%;
        display: block;
        font-size: 13px;
        text-transform: uppercase;
        color: $color-text-fourth;
        line-height: 50px;
      }
    }
    .quantity-input {
      display: inline-flex;
      background-color: $color-light-gray;
      border-radius: 2px;
      font-size: 16px;
      height: 30px;
      margin-top: 11px;
      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .minus {
        padding: 5px 10px;
      }
      .add {
        padding: 12px 10px 10px 5px;
      }
      .add,
      .minus {
        cursor: pointer;
        i {
          color: $color-text-secondary;
        }
      }
      .number {
        width: 25px;
        line-height: 30px;
        background-color: inherit;
        border: 0;
        font-weight: 300;
        outline: none;
        font-size: inherit;
        color: $color-text-primary;
        text-align: center;
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

// header-user-block
.header-user-block {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  background: $color-text-fourth;
  padding: 25px;
  height: 100vh;
  width: 450px;
  transform: translateX(100%);
  opacity: 0;
  @include transition;
  &.active {
    transform: translateX(0%);
    opacity: 1;
  }
  .header-user {
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0 23px 10px;
      p {
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 0;
        color: $color-text-primary;
      }
      .header-user-img {
        width: 18px;
        height: 18px;
        cursor: pointer;
      }
    }
    .title.title-not-login {
      padding: 11px 0 15px 0px;
    }
  }
  .account-not-login {
    p {
      padding-bottom: 16px;
      border-bottom: 1px solid $color-medium-gray;
      margin-bottom: 40px;
      font-weight: 300;
      font-size: 15px;
      line-height: 24px;
      color: $color-text-third;
    }
    .header-auth {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      &-register {
        img {
          display: inline;
        }
        a {
          font-size: 13px;
          line-height: 16px;
          text-decoration-line: underline;
          color: $color-text-third;
          text-transform: uppercase;
          @include transition;
          &:hover {
            color: $secondary-color;
          }
        }
      }
      &-login {
        a {
          width: 190px;
          height: 50px;
          display: block;
          background: $color-text-primary;
          color: $color-text-fourth;
          text-align: center;
          line-height: 50px;
          font-size: 13px;
          text-transform: uppercase;
          border-radius: 2px;
          @include transition;
          &:hover {
            background: $color-text-third;
          }
        }
      }
    }
  }
  .account-login {
    img {
      display: inline-block;
      padding-right: 20px;
    }
    a {
      display: block;
      font-weight: 300;
      font-size: 15px;
      line-height: 19px;
      color: $color-text-third;
      padding: 20px 15px;
      @include transition;
      &:hover {
        color: $color-text-primary;
      }
    }
  }
}

.overlay-menu {
  position: fixed;
  background: $color-text-primary;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100vh;
  @include transition;
  &.active {
    opacity: 0.2;
    transform: translateX(0);
    @include transition;
  }
}

@include maxWidth(992px) {
  .header {
    &-nav-title {
      width: 575px;
      h1 {
        font-size: 50px;
      }
    }
  }
}

@include maxWidth(768px) {
  .header-cart-block,
  .header-user-block {
    width: 400px;
  }
  .menu-respon-info {
    margin: 0;
  }
  .slide-header-home {
    img {
      height: 760px;
      object-fit: cover;
    }
    .owl-dots {
      right: 0;
    }
  }
}

@include maxWidth(576px) {
  .header {
    &-nav-title {
      width: 65%;
      top: 160px;
      h1 {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 45px;
      }
    }
    &-nav-wp {
      margin: 0 5px;
    }
    .icon-header-menu {
      margin-right: 10px;
      &:nth-child(2) {
        margin-right: 0px;
      }
    }
    &-user-block {
      .account-not-login {
        p {
          margin-bottom: 20px;
        }
        .header-auth {
          justify-content: center;
          &-login {
            a {
              width: 135px;
              height: 40px;
              line-height: 40px;
              margin-top: 10px;
            }
          }
          &-register {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .header-nav-home {
      .header-nav-logo {
        left: unset;
      }
    }
  }
  .slide-header-home {
    img {
      height: 700px;
      object-fit: cover;
    }
    .owl-dots {
      right: 0;
    }
  }
  .header-cart-block,
  .header-user-block {
    width: 300px;
    padding: 0 10px;
  }
  .header-cart-block {
    .header-cart {
      .title {
        padding-bottom: 10px;
      }
    }
    .menu-respon {
      padding: 20px 15px;
    }
  }
  .menu-respon {
    padding: 20px 15px;
  }
}

.header-nav {
  .icon-display-home {
    display: none;
  }
  .icon-display-page {
    display: block;
  }
  &-inner {
    top: 0;
    width: 100%;
    margin-top: 5px;
    .header-nav-bar,
    .header-block-item {
      background: RGBA(28, 42, 30, 0.04);
      border-radius: 2px;
      position: relative;
      @include size(40px);
      display: flex;
      align-items: center;
      justify-content: center;
      .num-cart {
        position: absolute;
        @include size(16px);
        background: $secondary-color;
        border-radius: 10px;
        font-size: 12px;
        line-height: 16px;
        color: #fff;
        top: 3px;
        right: 3px;
        text-align: center;
        font-weight: 400;
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
      &.header-block-lang:hover {
        .list-lang {
          opacity: 1;
        }
      }
      &.header-block-lang {
        span {
          color: #1c2a1e;
        }
      }
      .list-lang {
        background: #f4f4f1;
        top: 45px;
        position: absolute;
        text-align: center;
        height: 80px;
        opacity: 0;
        @include transition;
        span {
          cursor: pointer;
          color: #1c2a1e;
          @include size(40px);
          display: block;
          line-height: 40px;
          font-weight: 600;
          font-size: 13px;
          &.active,
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
    .header-block {
      display: flex;
      align-items: center;
    }
  }
}

.header-nav.header-nav-home {
  .icon-display-home {
    display: block;
  }
  .icon-display-page {
    display: none;
  }
  .header-nav-inner {
    top: 0;
    // position: absolute;
    width: 100%;
    // z-index: 2;
    margin-top: 5px;
    .header-nav-bar,
    .header-block-item {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 2px;
      position: relative;
      @include size(40px);
      display: flex;
      align-items: center;
      justify-content: center;
      .num-cart {
        position: absolute;
        @include size(16px);
        background: $secondary-color;
        border-radius: 10px;
        font-size: 12px;
        line-height: 16px;
        color: #fff;
        top: 3px;
        right: 3px;
        text-align: center;
        font-weight: 400;
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
      &.header-block-lang:hover {
        .list-lang {
          opacity: 1;
        }
      }
      &.header-block-lang {
        span {
          color: #fff;
        }
      }
      .list-lang {
        background-color: #423732ab;
        top: 45px;
        position: absolute;
        text-align: center;
        height: 80px;
        opacity: 0;
        @include transition;
        span {
          cursor: pointer;
          color: $color-text-fourth;
          @include size(40px);
          display: block;
          line-height: 40px;
          font-weight: 600;
          font-size: 13px;
          &.active,
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
    .header-block {
      display: flex;
      align-items: center;
    }
  }
}

.menu-respon.active {
  .header-nav-inner {
    position: static;
  }
  .header-nav-menu {
    span {
      font-size: 12px;
      line-height: 15px;
      color: #fff;
      text-transform: uppercase;
      margin-left: 8px;
    }
    &-thumb,
    .header-block-item {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 2px;
      position: relative;
      @include size(40px);
      display: flex;
      align-items: center;
      justify-content: center;
      .num-cart {
        position: absolute;
        @include size(16px);
        background: $secondary-color;
        border-radius: 10px;
        font-size: 12px;
        line-height: 16px;
        color: #fff;
        top: 3px;
        right: 3px;
        text-align: center;
        font-weight: 400;
      }
    }
  }
  .header-block {
    .header-block-item {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}
