.pagination-wrapper {
    margin-top: 3px;
    padding-bottom: 150px;
    .pagination-inner {
        display: flex;
        justify-content: space-between;
    }
    .pagi {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-left: -7px;
        &-item {
            margin-left: 7px;
            text-align: center;
            cursor: pointer;
            a {
                color: $color-text-primary;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                padding: 20px 26px;
                border-radius: 2px;
                display: block;
                background-color: $color-text-fourth;
                @include transition;
            }
            &:hover,
            &.is-active {
                a {
                    background-color: $secondary-color;
                }
            }
        }
        &-next {
            display: block;
            padding: 22px 110px;
            background-color: $color-text-fourth;
            color: $color-text-primary;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
            border-radius: 2px;
            @include transition;
            &:hover {
                background-color: $secondary-color;
            }
            &.is-disabled {
                background-color: #ddd;
                pointer-events: none;
            }
        }
    }
}

.pagination {
    &-short {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .num-of-page {
            margin-bottom: 0;
            font-weight: 300;
            font-size: 17px;
            line-height: 21px;
            text-transform: uppercase;
            color: $color-text-primary;
        }
    }
    &-prev,
    &-next {
        width: 150px;
        height: 50px;
        line-height: 50px;
        img {
            display: inline-block;
        }
        span {
            text-transform: uppercase;
            font-size: 13px;
            color: $color-text-primary;
        }
    }
    &-prev img {
        padding-right: 9px;
    }
    &-next img {
        padding-left: 9px;
    }
}

@include maxWidth(576px) {
    .pagination-wrapper {
        padding-bottom: 50px;
        .pagination-inner {
            flex-wrap: wrap;
            justify-content: center;
        }
        .pagi {
            margin-bottom: 10px;
        }
    }
}