.head-title {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  color: $color-text-third;
  margin-bottom: 21px;
  border-left: 3px solid $secondary-color;
  padding-left: 10px;
}

.slogan {
  font-weight: 300;
  font-size: 17px;
  line-height: 36px;
  color: $color-text-secondary;
  margin-bottom: 28px;
}

.see-more {
  &:hover {
    a {
      color: $primary-color;
    }
    img {
      transform: translateX(5px);
    }
  }
  a {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    @include transition;
  }
  img {
    display: inline;
    padding-left: 11px;
    position: relative;
    top: -2px;
    @include transition;
  }
}

.title-main {
  color: $color-text-primary;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.05em;
  letter-spacing: -1.8px;
}

.title-big {
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: $color-text-primary;
}

@include maxWidth(576px) {
  .title-big {
    font-size: 36px;
    line-height: 50px;
  }
}
