a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

input,
button,
textarea {
    font-family: "Lexend Deca", sans-serif !important;
    outline: none;
    line-height: 1;
    &:hover {
        outline: none;
    }
}

button {
    cursor: pointer;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1371px;
    }
}

// @media (min-width: 1400px) {
//   .container {
//     // max-width: 1200px;
//   }
// }