.bg-light-gray {
    background-color: $bg-light-gray;
}

.text-pending {
    color: $secondary-color !important;
}

.text-done {
    color: #098d26 !important;
}

.text-destroy {
    color: #c85a5a !important;
}