.account {
  &-wrapper {
    margin-top: 114px;
    margin-bottom: 100px;
  }
  &-title {
    font-size: 18px;
    line-height: 22px;
    color: $color-text-primary;
    margin-bottom: 10px;
  }
  &-title-global {
    position: relative;
    .account-id {
      position: absolute;
      top: 40%;
      right: 0;
      transform: translateY(-50%);
      font-size: 15px;
      line-height: 19px;
      color: $color-text-secondary;
    }
  }
  &-info-list {
    .nav-link {
      color: $color-text-third;
      font-weight: 300;
      font-size: 15px;
      line-height: 19px;
      padding: 20px 0;
      @include maxWidth(1400px) {
        font-size: 14px;
      }
      img {
        display: inline-block;
        padding: 0 13px;
      }
    }
    .nav-link.active {
      background-color: transparent;
      color: $color-text-third;
      position: relative;
      img {
        padding: 0 20px 0 13px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 30px;
        width: 2px;
        background-color: $secondary-color;
        transform: translateY(-50%);
      }
    }
  }
  &-content {
    margin-left: 77px;
    .account-title {
      padding-bottom: 15px;
      border-bottom: 1px solid $color-medium-gray;
    }
    &-inner {
      margin-top: 33px;
    }
  }
}

.field-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 59px;
  &:last-child {
    margin-bottom: 0;
  }
  &-value {
    width: 600px;
    label {
      display: block;
      font-size: 17px;
      line-height: 30px;
      color: $color-text-primary;
      margin-bottom: 0;
    }
    input {
      border: 1px solid $color-gray;
      border-radius: 2px;
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      color: $color-text-third;
      padding: 9px 16px 11px;
      width: 100%;
      @include maxWidth(1400px) {
        width: 90%;
      }
      &:focus {
        border-color: $secondary-color;
      }
    }
    .field-desc {
      margin-top: 8px;
      font-weight: 300;
      font-size: 13px;
      line-height: 24px;
      color: #6d6d6d;
      margin-bottom: 0;
    }
  }
  &-email,
  &-phone {
    label {
      margin-bottom: 9px;
    }
    .field-desc {
      margin-top: 6px;
    }
  }
  &-email {
    margin-bottom: 72px;
  }
  &-password {
    & > input {
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      color: $color-text-third;
    }
    & > label {
      margin-bottom: 9px;
    }
    .field-desc {
      height: 46px;
    }
  }
  .btn-update-pass {
    transform: translateY(-10px);
  }
  button {
    border: 1px solid $color-gray;
    box-sizing: border-box;
    border-radius: 2px;
    min-width: 100px;
    height: 40px;
    display: inline-block;
    background-color: transparent;
    color: $color-text-secondary;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px;
    outline: none;
    transform: translateY(-20px);
    &:hover,
    &:focus {
      border-color: $secondary-color;
      color: $color-text-third;
    }
  }
}

.change-password {
  display: none;
  .password-input {
    display: flex;
    align-items: center;
    border: 1px solid $color-gray;
    padding: 10px 20px;
    input {
      border-radius: 2px;
      width: 100%;
      padding: 0;
      padding-right: 10px;
      outline: none;
      border: 0;
      color: $color-text-primary;
      &::placeholder {
        color: $color-text-secondary;
      }
    }
    .icon-eye {
      cursor: pointer;
    }
    &:first-child {
      margin-bottom: 19px;
    }
  }
}

.account-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-medium-gray;
  padding-bottom: 5px;
  transform: translateY(-5px);
  &-title {
    font-size: 18px;
    line-height: 22px;
    color: $color-text-primary;
    margin-bottom: 0;
  }
  .order-filter {
    display: flex;
    align-items: center;
    .key-word {
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 8px;
      margin-right: 30px;
      width: 200px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $color-gray;
      }
      input {
        border: none;
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        color: $color-text-third;
        &::placeholder {
          opacity: 0.5;
        }
      }
    }
    .date {
      display: flex;
      align-items: center;
      width: 127px;
      input,
      input:focus {
        border: 0;
        outline: none;
        box-shadow: none;
        padding: 0 0 0 10px;
        margin-right: 5px;
        &::placeholder {
          font-weight: 300;
          font-size: 14px;
          line-height: 30px;
          color: $color-text-secondary;
        }
      }
    }
    button[type="submit"] {
      display: block;
      background-color: $secondary-color;
      border-radius: 2px;
      border: none;
      min-width: 100px;
      height: 30px;
      font-weight: 300;
      font-size: 14px;
      line-height: 30px;
      padding: 0 20px;
      color: $color-text-primary;
      @include transition;
      &:hover {
        background-color: $secondary-color-hover;
      }
    }
  }
}

.table-order {
  margin-top: 13px;
  height: 410px;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $color-medium-gray;
  }
  thead {
    margin-bottom: 13px;
    tr:nth-child(1) th {
      background: white;
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
  tr th {
    font-size: 15px;
    line-height: 19px;
    color: $color-text-primary;
  }
  tbody {
    tr {
      margin-bottom: 6px;
      &:nth-child(8) {
        margin-bottom: 0;
      }
      th {
        text-decoration: underline;
      }
    }
  }
  tr td {
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: $color-text-third;
    a {
      font-size: 14px;
      line-height: 17px;
      color: #235c47;
      &:hover {
        text-decoration: underline;
      }
    }
    &.done {
      color: #098d26;
    }
    &.destroy {
      color: #c85a5a;
    }
    &.pending {
      color: $secondary-color;
    }
  }
  tbody {
    height: 200px;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
  }
}

@include maxWidth(992px) {
  .account {
    &-content {
      margin-left: 0px;
    }
    &-wrapper {
      margin: 50px 0;
    }
  }
  .field-info {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    &-value {
      width: auto;
      margin-right: 20px;
    }
  }
  .account-order {
    flex-wrap: wrap;
    &-title {
      margin-bottom: 10px;
    }
    .order-filter {
      flex-wrap: wrap;
      .key-word {
        width: 100%;
        input {
          width: 100%;
        }
        margin-bottom: 10px;
      }
      .date {
        display: flex;
        align-items: center;
        width: 127px;
        input,
        input:focus {
          border: 0;
          outline: none;
          box-shadow: none;
          padding: 0 0 0 10px;
          margin-right: 5px;
          &::placeholder {
            font-weight: 300;
            font-size: 14px;
            line-height: 30px;
            color: $color-text-secondary;
          }
        }
      }
      button[type="submit"] {
        display: block;
        background-color: $secondary-color;
        border-radius: 2px;
        border: none;
        min-width: 100px;
        height: 30px;
        font-weight: 300;
        font-size: 14px;
        line-height: 30px;
        padding: 0 20px;
        color: $color-text-primary;
        @include transition;
        &:hover {
          background-color: $secondary-color-hover;
        }
      }
    }
  }
}
