.auth-wrapper {
    padding-top: 56px;
    .container {
        max-width: 410px;
    }
    .auth {
        &-logo {
            display: block;
            img {
                margin: 0 auto;
            }
        }
        &-title {
            font-weight: 300;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: $color-text-primary;
            margin-top: 170px;
            margin-bottom: 19px;
        }
        &-sub {
            font-weight: 300;
            font-size: 15px;
            line-height: 24px;
            color: $color-text-secondary;
            text-align: center;
            height: 28px;
        }
        &-social {
            display: flex;
            justify-content: space-between;
            padding-bottom: 19px;
            border-bottom: 1px solid $color-gray;
            margin-bottom: 11px;
            &-item {
                width: calc(50% - 10px);
                border: 1px solid $color-gray;
                border-radius: 2px;
                height: 50px;
                a {
                    display: block;
                    line-height: 50px;
                    text-align: center;
                }
                img {
                    display: inline-block;
                }
                span {
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 24px;
                    color: $color-text-third;
                    padding-left: 9px;
                }
            }
            &-facebook {
                span {
                    padding-left: 4px;
                }
            }
        }
        &-option {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: $color-text-secondary;
            margin-bottom: 19px;
        }
        &-input {
            .auth-input-field {
                margin-bottom: 20px;
                input {
                    width: 100%;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 24px;
                    color: $color-text-third;
                    padding: 13px 17px;
                    height: 50px;
                    border: 1px solid $color-gray;
                    border-radius: 2px;
                    @include transition;
                    &::placeholder {
                        color: #8c8c8c;
                    }
                    &:focus {
                        border-color: $color-text-secondary;
                    }
                }
            }
            .password-input {
                position: relative;
                input {
                    padding-right: 40px;
                }
                // img {
                //     position: absolute;
                //     right: 20px;
                //     top: 15px;
                //     cursor: pointer;
                // }
                i {
                    position: absolute;
                    right: 20px;
                    top: 15px;
                    cursor: pointer;
                }
            }
            button[type="submit"] {
                font-size: 13px;
                text-transform: uppercase;
                background-color: $color-text-primary;
                color: $color-text-fourth;
                height: 50px;
                text-align: center;
                line-height: 50px;
                width: 100%;
                display: block;
                border-radius: 2px;
                border: none;
                outline: none;
                margin-bottom: 12px;
            }
        }
        &-forget {
            font-weight: 300;
            font-size: 13px;
            line-height: 24px;
            text-decoration: underline;
            text-align: center;
            color: $color-text-third;
            display: inline-block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 36px;
        }
        &-register {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: $color-text-third;
            text-align: center;
            a {
                font-weight: 400;
                text-decoration: underline;
                color: $color-text-third;
            }
        }
    }
}

.register-wrapper {
    .auth {
        &-title {
            margin-bottom: 29px;
        }
        &-sub {
            height: auto;
        }
        &-input {
            button[type="submit"] {
                margin-bottom: 30px;
            }
        }
    }
}

.forgot-pass-wrapper {
    .auth {
        &-title {
            margin-top: 258px;
            margin-bottom: 7px;
        }
        &-sub {
            margin-bottom: 13px;
        }
    }
}

@include maxWidth(576px) {
    .auth-wrapper {
        padding-top: 40px;
        .auth {
            &-title {
                margin-top: 60px;
            }
        }
    }
}