.table-cart {
    thead tr:nth-child(1) th {
        border-bottom: 2px solid $color-medium-gray;
        padding-bottom: 7px;
    }
}

.cart-wrapper {
    .cart-title {
        font-size: 18px;
        line-height: 22px;
        color: $color-text-primary;
    }
    .cart-total {
        width: 300px;
        margin-left: auto;
        span {
            font-size: 15px;
            line-height: 19px;
            color: $color-text-primary;
            margin-top: 21px;
        }
    }
    .btn-continue {
        background: $color-text-primary;
        border-radius: 2px;
        color: $color-text-fourth;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 13px;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-top: 21px;
        text-transform: uppercase;
        &:hover {
            background: $color-text-third;
        }
    }
}

@include maxWidth(992px) {
    .table-cart {
        thead tr:nth-child(1) th {
            padding-bottom: 0px;
        }
    }
}