.intro {
  &-head {
    background-color: #f8f8f6;
    padding-bottom: 95px;
    .title {
      font-size: 64px;
      line-height: 75px;
      color: $color-text-primary;
      margin-bottom: 27px;
      margin-top: 0;
      padding-top: 90px;
      font-family: "Lora", serif;
    }
    p {
      font-weight: 300;
      font-size: 17px;
      line-height: 30px;
      color: $color-text-third;
    }
    &-first {
      padding-right: 58px;
    }
    &-second {
      padding-left: 55px;
    }
  }
  &-body {
    padding: 186px 0;
    padding-bottom: 190px;
    background-image: url(" ./../img/overlay-intro.png");
    background-repeat: no-repeat;
    background-position: center center;
    .title {
      margin-top: 73px;
      padding-right: 149px;
      margin-bottom: 30px;
      font-size: 48px;
      line-height: 56px;
      color: $color-text-primary;
      font-family: "Lora", serif;
    }
    p {
      font-weight: 300;
      font-size: 17px;
      line-height: 30px;
      color: $color-text-third;
    }
    &-first {
      margin-bottom: 186px;
      p {
        padding-right: 35px;
      }
      .intro-body-thumb {
        margin-left: 36px;
      }
    }
    .intro-body-thumb {
      width: 620px;
      height: 489px;
      position: relative;
      img {
        position: absolute;
        z-index: 1;
      }
      &::after {
        content: "";
        position: absolute;
        top: -18px;
        right: -17px;
        background-color: $primary-color;
        border-radius: 2px;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
    }
    &-second {
      .title {
        margin-top: 107px;
        padding-left: 35px;
        margin-bottom: 15px;
      }
      p {
        padding-left: 35px;
      }
      .intro-body-thumb {
        &::after {
          content: "";
          position: absolute;
          top: 19px;
          left: -17px;
          background-color: $secondary-color;
          border-radius: 2px;
          width: 100%;
          height: 100%;
          z-index: 0;
        }
      }
    }
  }
  &-certification {
    background-color: $color-light-gray;
    padding: 96px 0 150px;
    .title {
      font-size: 48px;
      line-height: 56px;
      color: $color-text-primary;
      margin-bottom: 80px;
      text-align: center;
      font-family: "Lora", serif;
    }
    .list-certification {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &-custommer {
    padding: 115px 0 128px;
    .title {
      font-size: 48px;
      line-height: 56px;
      color: $color-text-primary;
      margin-bottom: 57px;
      text-align: center;
      font-family: "Lora", serif;
    }
    .list-custommer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .custommer-item {
      width: 150px;
      height: 90px;
      display: flex;
      align-items: center;
      border: 1px solid $color-medium-gray;
      justify-content: center;
    }
  }
}

@include maxWidth(992px) {
  .intro {
    &-head {
      padding-bottom: 50px;
      .title {
        padding-top: 50px;
      }
      &-first {
        padding-right: 10px;
      }
      &-second {
        padding-left: 10px;
      }
    }
    &-body {
      padding: 100px 0;
      &-first {
        margin-bottom: 50px;
        p {
          padding-right: 0px;
        }
        .intro-body-thumb {
          margin-left: 0px;
        }
      }
      &-second {
        .title {
          padding-left: 0;
        }
        p {
          padding-left: 0;
        }
      }
    }
    &-certification {
      padding: 70px 0 100px;
      .list-certification {
        img {
          width: calc(20% - 40px);
          display: block;
          margin-bottom: 20px;
        }
      }
    }
    &-custommer {
      padding: 50px 20px;
      .custommer-item {
        margin-bottom: 20px;
      }
    }
  }
}

@include maxWidth(576px) {
  .intro {
    &-head {
      padding-bottom: 30px;
      .title {
        font-size: 50px;
      }
    }
    &-body {
      padding: 70px 0 30px ​;
      &-first {
        .title {
          padding: 0;
          margin-top: 35px;
          font-size: 45px;
        }
        p {
          padding-right: 0px;
        }
      }
      .intro-body-thumb {
        width: 100%;
        height: 337px;
        img {
          height: 100%;
        }
        &::after {
          top: -15px;
          right: -10px;
        }
      }
      &-second {
        .title {
          padding-right: 0px;
          font-size: 45px;
          margin-top: 70px;
        }
      }
    }
    &-certification {
      padding: 50px 0 30px;
      .title {
        font-size: 40px;
      }
    }
    &-custommer {
      // padding: 50px 0 30px;
      .title {
        font-size: 40px;
      }
    }
  }
}
