.news-wrapper {
    margin-bottom: 100px;
    .container {
        max-width: 1210px;
    }
    .news-head {
        position: relative;
        padding-top: 83px;
        .title-big {
            margin: 0 auto;
            margin-bottom: 22px;
            max-width: 675px;
        }
        .slogan {
            line-height: 30px;
            text-align: center;
            margin-bottom: 0;
        }
        img {
            position: absolute;
            top: -29px;
            left: 50%;
            transform: rotate(180deg) translateX(50%);
            z-index: -1;
        }
    }
    .newest {
        margin: 100px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text {
            width: 515px;
            .title {
                margin-bottom: 20px;
                a {
                    font-size: 30px;
                    line-height: 37px;
                    color: $color-text-primary;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
            .desc {
                font-weight: 300;
                font-size: 17px;
                line-height: 30px;
                color: $color-text-third;
            }
        }
        &-thumbnail {
            display: block;
            width: 565px;
            height: 350px;
            flex-shrink: 0;
            img {
                height: 100%;
                width: 100%;
                border-radius: 5px;
            }
        }
    }
    .new-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid $color-medium-gray;
        margin-bottom: 50px;
    }
    .new-item {
        width: calc(33.33% - 33.33px);
        margin-bottom: 50px;
        &-thumbnail {
            display: block;
            img {
                border-radius: 5px;
            }
        }
        &-create {
            font-size: 13px;
            line-height: 16px;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            color: $color-text-secondary;
            margin: 17px 0;
            padding-left: 10px;
            border-left: 3px solid $secondary-color;
        }
        &-title {
            margin-bottom: 0;
            @include textClamp(2);
            a {
                font-size: 18px;
                line-height: 22px;
                color: $color-text-primary;
                display: block;
                height: 48px;
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}

@include maxWidth(992px) {
    .news-wrapper {
        .newest {
            &-text {
                width: 47%;
            }
            &-thumbnail {
                width: 47%;
                img {
                    object-fit: cover;
                }
            }
        }
    }
}

@include maxWidth(576px) {
    .news-wrapper {
        margin-bottom: 50px;
        .news-head {
            padding-top: 30px;
        }
        .newest {
            margin: 50px 0 30px;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            &-text {
                width: 100%;
            }
            &-thumbnail {
                width: 100%;
                margin-bottom: 30px;
            }
        }
        .new-list {
            margin-bottom: 30px;
        }
        .new-item {
            width: calc(50% - 10px);
            margin-bottom: 30px;
            &-title {
                margin-bottom: 0;
                @include textClamp(2);
                a {
                    font-size: 18px;
                    line-height: 22px;
                    color: $color-text-primary;
                    display: block;
                    height: 40px;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}