.new-wrapper {
  .container {
    max-width: 740px;
  }
  &-inner {
    margin-bottom: 101px;
    margin-top: 58px;
  }
  .new-head {
    padding: 0 30px;
    .new-title {
      font-size: 40px;
      line-height: 50px;
      color: $color-text-primary;
      text-align: left;
      margin: 0;
    }
    .new-sub {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 0 20px;
      .new-create {
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
        color: #8c8c8c;
        margin-bottom: 0;
      }
      .new-share {
        display: flex;
        align-items: center;
        a {
          display: block;
          margin-left: 26px;
        }
      }
    }
  }
  .new-content {
    &-thumbnail {
      width: 740px;
      height: 450px;
      margin-bottom: 31px;
    }
    &-main {
      padding: 0 20px;
    }
    p {
      font-weight: 300;
      font-size: 19px;
      line-height: 36px;
      color: $color-text-third;
    }
  }
  .source-new {
    text-align: right;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    color: $color-text-third;
    margin-top: 23px;
    margin-bottom: 54px;
  }
  .new-relative {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid $color-medium-gray;
    &-title {
      font-size: 19px;
      line-height: 24px;
      color: $color-text-primary;
      margin-bottom: 25px;
    }
    &-item {
      border: 1px solid $color-medium-gray;
      padding: 25px 23px;
      display: flex;
      align-items: center;
      .new-relative-thumbnail {
        display: block;
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .new-relative-info {
        margin-left: 21px;
        span {
          font-weight: 300;
          font-size: 15px;
          line-height: 19px;
          color: #5b5b5b;
        }
        h4 {
          margin-top: 12px;
          a {
            display: block;
            font-size: 30px;
            line-height: 37px;
            color: $color-text-primary;
            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}

@include maxWidth(576px) {
  .new-wrapper {
    .new-head {
      padding: 0;
    }
  }
}
