.order-detail {
    &-wrapper {
        margin-top: 105px;
        margin-bottom: 171px;
        .destroy-order {
            background: #c85a5a;
            border-radius: 2px;
            color: $color-text-fourth;
            width: 112px;
            height: 40px;
            font-size: 13px;
            display: block;
            text-align: center;
            line-height: 40px;
            margin-left: auto;
            margin-top: 40px;
            text-transform: uppercase;
            &:hover {
                background: #d35858;
            }
        }
    }
    &-title {
        display: flex;
        align-items: center;
        a {
            font-weight: 300;
            font-size: 15px;
            line-height: 19px;
            color: $color-text-primary;
            display: block;
        }
        .bg-back {
            width: 40px;
            height: 40px;
            border-radius: 2px;
            position: relative;
            margin-right: 16px;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: $primary-color;
                opacity: 0.05;
            }
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &-status {
        span {
            font-weight: 300;
            font-size: 15px;
            line-height: 19px;
            color: $color-text-third;
            &:last-child {
                font-weight: 400;
            }
        }
    }
}

.table-order-detail {
    margin-top: 0;
    .product-order {
        display: flex;
        align-items: center;
        &-thumb {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 100px;
            background: $color-light-gray;
            border-radius: 5px;
            padding: 10px 15px;
            margin-right: 39px;
            img {
                max-height: 100%;
            }
        }
        h4 {
            font-size: 17px;
            line-height: 21px;
            color: $color-text-primary;
            margin-bottom: 0;
        }
    }
    thead {
        margin-bottom: 0;
        tr {
            border-bottom: 0;
            th {
                padding-bottom: 3px;
            }
        }
    }
    tbody {
        tr th {
            text-decoration: none;
        }
    }
    tr {
        border-bottom: 1px solid $color-medium-gray;
        td {
            line-height: 100px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        th {
            padding-left: 0;
            padding-top: 20px;
        }
    }
}

@include maxWidth(576px) {
    .order-detail {
        &-wrapper {
            margin: 50px 0;
        }
        &-title {
            margin-bottom: 30px;
        }
    }
}