.payment {
    &-wrapper {
        margin-top: 67px;
        margin-bottom: 150px;
        .title {
            font-size: 17px;
            line-height: 21px;
            color: $color-text-primary;
            margin-bottom: 29px;
            margin-top: 0;
        }
    }
    &-block {
        margin-bottom: 50px;
    }
    &-info {
        margin-top: 20px;
        margin-right: 35px;
        .title-field {
            margin-bottom: 19px;
            font-size: 15px;
            line-height: 19px;
            color: $color-text-primary;
            &-sub {
                margin-bottom: 0;
                font-weight: 300;
                font-size: 15px;
                line-height: 19px;
                text-decoration: underline;
                color: $color-text-primary;
            }
        }
        .person-info {
            .input-field {
                position: relative;
                input {
                    padding-right: 45px;
                }
                img {
                    position: absolute;
                    top: 50%;
                    right: 13px;
                    transform: translateY(-50%);
                }
            }
        }
        .input-field,
        .select-field {
            margin-bottom: 20px;
            input,
            select {
                width: 100%;
                padding: 15px;
                font-weight: 300;
                font-size: 15px;
                line-height: 19px;
                color: $color-text-third;
                border: 1px solid $color-gray;
                border-radius: 2px;
                height: 50px;
                box-shadow: none;
                &::placeholder {
                    color: $color-text-secondary;
                    font-weight: 300;
                }
            }
            &.field-double {
                display: flex;
                justify-content: space-between;
                input,
                select {
                    width: calc(50% - 10px);
                }
            }
        }
        .select-field {
            select {
                position: relative;
                &::after {
                    position: absolute;
                    content: "aaa";
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    z-index: 9;
                }
            }
        }
        .type-payment {
            .radio-field {
                margin-bottom: 20px;
                position: relative;
                height: 50px;
                img {
                    position: absolute;
                    top: 50%;
                    right: 16px;
                    transform: translateY(-50%);
                }
                .form-check {
                    padding: 15px;
                    label {
                        padding-left: 47px;
                        margin-bottom: 0;
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 19px;
                    }
                }
            }
            input+label {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 50px;
                    border: 1px solid $color-gray;
                    border-radius: 2px;
                    @include transition;
                }
            }
            input+label {
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    border: 1px solid $color-text-secondary;
                    border-radius: 50%;
                    @include transition;
                }
            }
            input:checked+label {
                color: $color-text-primary;
                &::before {
                    width: 10px;
                    height: 10px;
                    box-shadow: 0 0 0 4px #fff, 0 0 0 6px $color-text-primary;
                    background-color: $color-text-primary;
                    left: 20px;
                }
                &::after {
                    border-color: $color-text-primary;
                }
            }
        }
        .note {
            margin-bottom: 10px;
            textarea {
                width: 100%;
                padding: 15px;
                font-weight: 300;
                font-size: 15px;
                line-height: 19px;
                color: $color-text-third;
                border: 1px solid $color-gray;
                border-radius: 2px;
                min-height: 120px;
                resize: none;
                &::placeholder {
                    color: $color-text-secondary;
                    font-weight: 300;
                }
            }
        }
        button[type="submit"] {
            background-color: $color-text-primary;
            color: $color-text-fourth;
            border: none;
            outline: none;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            text-align: center;
            @include size(300px, 50px);
            display: block;
            margin-left: auto;
        }
    }
}

.order-info {
    border: 1px solid $color-medium-gray;
    border-radius: 2px;
    padding: 19px 18px 25px 19px;
    margin-left: 35px;
    margin-right: 155px;
    .title {
        margin-bottom: 29px;
    }
    .price-total {
        margin: 27px 7px 26px 0;
        .price {
            display: flex;
            justify-content: space-between;
            span {
                font-weight: 300;
                font-size: 15px;
                line-height: 19px;
                letter-spacing: -0.05em;
                color: $color-text-primary;
            }
            &.price-ship {
                margin-top: 9px;
                img {
                    padding-left: 6px;
                }
            }
        }
    }
    .discount-code {
        position: relative;
        input {
            border: 1px solid $color-medium-gray;
            border-radius: 2px;
            font-weight: 300;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -0.05em;
            color: $color-text-secondary;
            padding: 16px 80px 15px 14px;
            width: 100%;
            height: 50px;
            &::-webkit-input-placeholder {
                color: $color-text-third;
            }
            &::-moz-input-placeholder {
                color: $color-text-third;
            }
        }
        button {
            position: absolute;
            top: 16px;
            right: 17px;
            border: none;
            outline: none;
            color: $secondary-color;
            background-color: transparent;
            font-weight: 300;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -0.05em;
            &:hover {
                color: $secondary-color-hover;
            }
        }
    }
    .total-order {
        display: flex;
        justify-content: space-between;
        margin-top: 36px;
        span {
            font-size: 17px;
            line-height: 21px;
            letter-spacing: -0.05em;
            color: $color-text-primary;
        }
    }
}

.order {
    &-list {
        border-bottom: 1px solid $color-medium-gray;
    }
    &-item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        &-hero {
            display: flex;
            .thumbnail {
                display: block;
                background-color: $color-light-gray;
                border-radius: 5px;
                width: 90px;
                height: 100px;
                flex-shrink: 0;
                img {
                    width: 43px;
                    height: 66px;
                    object-fit: contain;
                    margin: 0 auto;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &-desc {
            margin-left: 20px;
            a {
                color: $color-text-primary;
                font-size: 15px;
                line-height: 19px;
                display: block;
                margin-bottom: 8px;
                &:hover {
                    color: $secondary-color;
                }
            }
            span {
                font-weight: 300;
                font-size: 14px;
                line-height: 24px;
                display: block;
            }
        }
        &-price {
            margin-top: 27px;
            span {
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: -0.05em;
                color: $color-text-third;
            }
        }
    }
}

@include maxWidth(576px) {
    .payment {
        &-wrapper {
            margin: 50px 0 50px;
        }
        &-info {
            margin: 0px;
        }
    }
    .order-info {
        margin: 50px 0 0;
    }
}