.policy-wrapper {
    .container {
        max-width: 710px;
    }
    &-inner {
        margin: 85px 0 114px;
    }
}

.policy {
    &-title {
        font-size: 36px;
        line-height: 45px;
        letter-spacing: -0.05em;
        color: $color-text-primary;
        margin-bottom: 26px;
        margin-top: 0;
    }
    &-content {
        color: $color-text-third;
        font-weight: 300;
        font-size: 17px;
        line-height: 30px;
        letter-spacing: -0.05em;
    }
}

@include maxWidth(576px) {
    .policy-wrapper {
        &-inner {
            margin: 50px 0;
        }
    }
}