.search {
    &-result {
        padding-top: 157px;
        padding-bottom: 16px;
    }
    &-key {
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.05em;
        color: $color-text-third;
        margin-bottom: 0;
        span {
            font-weight: 400;
            color: $color-text-primary;
        }
    }
    &-number {
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.05em;
        color: $color-text-secondary;
        margin-bottom: 0;
    }
}

.result-tab {
    margin-bottom: 61px;
    border-bottom: 1px solid $color-medium-gray;
    border-top: 1px solid $color-medium-gray;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-left {
        a {
            font-size: 13px;
            line-height: 16px;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            color: $color-text-secondary;
            padding: 21px 19px 22px;
            display: inline-block;
            border-bottom: 2px solid transparent;
            @include transition;
            &.active {
                color: $color-text-primary;
                pointer-events: none;
                border-bottom: 2px solid $secondary-color;
            }
            &:hover {
                color: $color-text-primary;
            }
        }
    }
    &-right {
        select {
            border: none;
            box-shadow: none;
            outline: none;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
            color: $color-text-third;
            &:focus {
                box-shadow: none;
            }
        }
    }
}